/*
 * © 2015 LOGIPAM services / www.logipam.com siges@logipam.com et contributeurs (voir www.logipam.com)
 *
 * This file is part of SIGES.

    SIGES is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    SIGES is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SIGES.  If not, see <http://www.gnu.org/licenses/>.
 *
 */



body {

	font-size:12px;
	padding-bottom: 40px;
	clear: both;
}

.main-body{
	background: #ECF0F5;}
.highcharts-title {
	color: #ff0000;
}


.bg-blue {
    background-color: #14bace !important;
}
.bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
    background-color: #e8423e !important;
}
.bg-fuchsia {
    background-color: #6087d5 !important;
}

.small-box > .inner {
    padding: 10px;
    box-shadow: 0 1px 5px #777;
    min-height: 80px;
}
.bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
    background-color: #ffb503 !important;
}
.estaf * {
    line-height: 2.5em;
    color: #6C727B;
    text-align: center;
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus,.navbar-inverse .nav > li > a:focus, .navbar-inverse .nav > li > a:hover, .navbar-inverse .nav .active > a, .navbar-inverse .nav > a:hover, .navbar-inverse .nav > a:focus {
    color: #FFF;
    background-color: #087e87;
    z-index: 100000000000000;
}
.b_mail{
background: #f3f7fa;
padding: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}
/*
#list-cours-elearning .nav-stacked > li *{
    float: none;
    background: #d0dbe9;
    color: #fff;
    padding: 1px 2px;
    margin: 1px;
}
*/
.flm{
    padding: 10px 50px;
}
.flm > h1, .flm > h2 {
    background: #e0e5ea;
    padding: 5px 10px;
    border-radius: 2px;
}
.flm #dash .span4, .flm #dash .span4 a, .flm .btn-warning, .flm .btn-info, .flm #export-button {
    color: #fff;
    background-color: #20486f;
    padding: 5px;
}
#list-cours-elearning .nav-stacked > li * {
    float: none;
    background: #ffffff1f;
    color: #fff;
    margin: 1px;
}
#list-cours-elearning .nav > li > a:hover{
    text-decoration: none;
    background-color: #265582;
		opacity: 0.5
		color: #f14f24;
}

#list-cours-elearning > li > a:hover {
    text-decoration: none;
    opacity: 0.7;
}
.kou_elearning{
    background: #20486f;
		color: #fff;
    border: 0;
    margin: 0;
		min-height: 0;
		width: 100%;
    max-width: 350px;
    line-height: 2;
    margin: 0 auto;
    border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
}
.kou_rel_note {
    background: #fff;
    min-height: 0;
    width: 100%;
    border-radius: 10px;
}
.tit_h1 {
    font-size: 36px;
    line-height: 40px;
    color: #f14f24;
    background: #b9ccde87;
    padding-left: 10px;
    width: 92%;
    border-radius: 4px;
}
.kou_rel_note h5{
		margin: 20px;
		color: #f14f24;
}
.kou_rel_note span3{
		margin: 20px;
		color: #f14f24;
}
.kou_rel_note [class*="span"]{
  margin: 10px;
}

.row-fluid [class*="span"]  {
    min-height: 0px;
}
.anndan {margin: 10px}
#list-cours-elearning h5{
		color: #fff;
    line-height: 2;
    margin: 0 10px;
}
 #list-cours-elearning ul {
    //background: #14971d;
    border: 0;
    margin: 0;
    line-height: 2;
    padding: 2px;
    border-bottom-left-radius: 10px;
}
#resp_form  {
	margin-left: 20px;
}
.btnm {
    margin: 2px 20px;
}
.b_m{background: #f3f7fa;
padding: 10px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;}

.container-fluid{padding-top: 80px; }



th a, th{background: none; color: #333;}


.select2-results {
    margin: 4px 4px 4px 0;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 0 4px;
    position: relative;
    clear: both;
}
.select2-results li {
    width: 100%;
    clear: both;
}

/*Nav bar*/
.navbar .brand {
  display: none;
  display:block;
  float:left;
  font-size:25px;
  font-weight:400;
  padding:10px 20px;
  margin-left:-15px;
  z-index: 11111;

}

.navbar .nav > li > a {
    float: none;
    text-decoration: none;
    z-index: 11111;
    padding: 0px 10px;
}
.nav-collapse .fa, .nav-collapse .dropdown-toggle {
    color: #20486f;
    font-size: 1.2em;
    padding: 10px 0;
}

.nav-collapse .fa, .dropdown .fa {
    display: inline-block;
    font: normal normal normal 15px/1 FontAwesome;
    font-size: 26px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 4px 0px;
    white-space: nowrap;
    width: 100%;
		position:relative;
		right: 0px;
		 align-content: right;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    float: right;
    display: inline;
}

.pagination {
    display: inline;
}

.pagination li {
    float: left;
    box-shadow: 0px 0px 1px 0px #c2c2c2;
}

#resp_form_siges1 > #resp_form1  {
    width: 90%;
    height: auto;
    margin: 15px;
    float: left;
		display: block;
		margin: 0 auto;
}

#resp_form_siges1 > #resp_form1  .col-submit  {
    width: 100%;
    height: auto;
    float: left;
		display: block;
		margin: 0 auto;
}
#resp_form_siges > #resp_form  {
    width: 100%;
    margin: 15px;
    float: left;
		display: block;
		box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
}

.zon-sezi #id-student {
	width: 50%;
	min-width: 300px;
	height: 28px;
}


.html5buttons, .dataTables_length, #billings-form  #s2id_Billings_student{
    display: inline-block;
    width: 150px;
    height: 20px;
    margin: 15px;
    float: left;
}
.dataTables_length, #DataTables_Table_0_length {

    display: inline-block;
    width: 150px;
    height: 20px;
    margin: 5px;

}


.tichek{
	margin:10px 5px 5px 0;
	padding: 2px;
	width: 100px;
	text-align:center;
	border: 1px #c2cfd8 solid;
	border-radius: 2px;
	background: #fff;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    float: left;
    margin: 15px 10px 10px;
}
div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap;
    float: right;
		margin-right: 10px;
}

#index_dash h2 {
    text-align: center;
    font-size: 1.5em;
}

//#index_dash p{ float: left; color: #4c96c2; padding: 5px;}

#index_dash .span4 p, #index_dash p {
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 5px;
    line-height: 1.1em;
    text-align: justify;
}

section .span12{}

#index_dash h9{  color: #797979; padding: 5px;font-size:11px; font-weight: normal; }

#index_dash h3 {
    padding: 2px;
    font-size: 1.9em;
    line-height: 1.1;
}

#index_dash{ margin-left: -40px;  margin-top: -50px; z-index: 1111; }

#dachbod {
    margin: 0 auto;
        margin-left: auto;
    float: left;
    display: block;
    widows: 100%;
    margin-left: -3%;
}
.l-tibwat {
    border-radius: 3px;
    border-top: 3px solid #7A43B6;
    margin: 15px 0px;
    float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
    max-height: 300px;
    background: #fff;
    padding: 10px;
}
.c-tibwat {
    border-radius: 3px;
    border-top: 3px solid #F39C12;
    margin: 15px 0px;
		float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
		max-height: 300px;
		background: #fff;
    padding: 10px;
}
.r-tibwat {
    border-radius: 3px;
    border-top: 3px solid #00C0EF;
    margin: 15px 0px;
		float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
		max-height: 300px;
		background: #fff;
    padding: 10px;
}
.roll-honor {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
  background: #1AB394;
		padding: 5px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
		margin-top: 20px;
}
.roll-honor h4 {
    font-weight: 500;
		color: #fff;
		padding: 5px 0;
		float: none;
		    position: absolute;
		      margin-left: 25%;
		      text-align: center;
}

#roll-honor {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top: 3px solid #1AB394;
    margin: 0 0 10px 0;
    float: left;
    padding: 1% 1%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
    width: 98%;
}
.wall-pic{
    border-radius: 0%;
    float: left;
    width: 70px;
    height: 70px;
    object-fit: cover;
		background: #f2f2f2;
}
.wall-pic .fas {
    float: left;
    width: 100%;
    object-fit: cover;
    padding: 20% 0;
    font-size: 4em;
    color: #999;
}

.box_wall {
    display: inline-block;
    min-height: 70px;
    background: #fff;
    float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
    border-radius: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 10px;
    width: 24%;
		min-width: 285px;
}
.wall-content {
    padding: 5px 10px;
    margin-left: 70px;
}
.wall-text {
    display: block;
    font-size: 14px;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    text-align: left;
    color: #1ab394;
}
.wall-class {
    display: block;
    font-weight: 200;
    font-size: 1.1em;
    float: left;
    color: #333;
    padding: 5px;
}
.chwa {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    width: 100%;
		height: 50px;
}

.chwa .row-fluid{
    margin-top: -10px;
}
#dvData #table-container {
	margin-top: 2%;
}
.kolonn_d{
	 padding-left: 5px;
	 padding-bottom: 10px;
	 float:left;
	 border-radius: 3px;
	 background: #ffffff;
	 border-top-color: rgb(210, 214, 222);
	 box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	 border-top: 3px solid #ff0000;
}
.kolonn_d h4{
	 color: #dd4b39 !important;
	 margin: 15px 0;
}
.gwobwat {
    border-radius: 3px;
    border-top: 3px solid #AAB3C2;
    margin: 15px 0px;
		float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
		height: auto;
		background: #fff;
    padding: 10px;
}
.gbwat {
    border-radius: 3px;
    margin: 15px;
		float: left;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
		height: auto;
		background: #fff;
    padding: 15px;
		min-height: 210px;
}
.kolonn_lis{
	text-align:left;
	height: 100px;
	width: 42%;
	float: left;
	padding: 0 2%;
	margin: 4px;
	position: relative;
	border-radius: 3px;
	background: #ffffff;
	border:1px solid rgb(210, 214, 222);
	//box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.29);

}
	.infraction_name{
		font-size: 11px;
		font-weight: 100;
		color: #777;
	}

.inner_top{
	height: 30px;
	background: #fecce;

}



/*
.wall-item{
    width: 80px;
    float: left;
    padding: 10px;
    text-align: center;
}
.wall-list > li img {
    border-radius: 50%;
    height: auto;
		height: 70px;
		width:100%;
		max-width: 70px;
		object-fit: cover;
}
.wall-list > .wall-student a {
    font-weight: 600;
    color: #444;
		display: block;
	//	width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
a.wall-student {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100px;
}



.wall-list > .wall-salle {
    font-weight: 600;
    color: #444;
		display: block;
		width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

*/

#index_dash1 {
    margin-left: -5px;
    margin-top: -55px;
    margin-right: 75px;
}
#index_dash #dash h2{ padding: 10px;font-size:1.5em; line-height:1;}
#index_dash #acronym{ float: left; color: #539DC8; padding: 10px;font-size:1.5em; line-height:1;font-weight:bold; }

.box-content h3 a { color: #F0652F; font-size:16px;}

.box-content span { font-size:20px;
                       font-family: "Arial", Arial,  sans-serif;

                      }


.acade_year{ padding: 5px; width: 300px; }
 #index_dash #academic-year-form { display: inline-block;  width: auto; float: left; font-size: 9px; font-weight: 100;}

#index_dash label { display: inline-block; padding-top: 5px; padding-right: 5px; width: auto; float: left; }


.navbar-fixed-bottom .navbar-inner {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1) inset, 0 -1px 10px rgba(0, 0, 0, 0.1);
    background: #EDF1F6;
}

.caret {
  float:none;
  //padding:10px 15px;
  text-decoration:none;
  font-size:10px;
}

.rt_academic {

			}

#language-selector{

	float:right;
	margin-right:30px;
    background: #E6F2F9;
    padding: 0 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
   }
#language-selector, #language-selector a{

    color: #4D4D4D;

}

#language-selector{

    color: #539DC8;

}

#a_academic {
    padding-bottom: 0px;
    //color: #EC632E;
}
footer .pull-center{
	padding: 5px 0;
	float: left;
}
	.videyo	img {
		    width: auto\9;
		    height: auto;
		    max-height: 225px;
		    vertical-align: middle;
		    border: 0;
				border-radius: 4px;
		    -ms-interpolation-mode: bicubic;
		}
		.videyo	h4 {
			    font-size: 15px;
					margin-left: 2px;
			}
		@media only screen
		and (max-width : 920px) {

			 .videyo	img,  .videyo	* {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 100%;
		height: auto;
    display: block;
}
}
.profile-sidebar {
    background: #fff;
    padding: 10px;
    margin-top: 35px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}
.profile-usermenu .nav {
    width: 92%;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 10px;
}
.profile-usermenu .nav li{
	border-bottom: 1px solid #fff;
}
.profile-sidebar .img-rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.profile-usertitle {
    color: #F0652F;
    display: inline-block;
    margin: 0px;
    width: 100%;
    border-bottom: 2px solid #fff;
}

.navbar-search .search-query {
  border-radius:5px;
}

.prof-usertitle {
    color: #F0652F;
    display: block;
    margin: 0px auto;
    width: 90%;
    font-size: 18px;
    text-align: center;
}
.prof-klas {
    display: block;
    margin: 0px auto;
    width: 100%;
    font-size: 16px;
    text-align: center;
}

.prof-side {
    background: #fff;
    padding: 15px;
    margin-top: 40px;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}
.prof-side img {
    height: auto;
    max-width: 90%;
    vertical-align: middle;
    border-radius: 5px;
    margin: 5px;
}
.prof-date {
    color: #333;
    display: block;
		padding-top: 3px;
    width: 100%;
    border-top: 2px solid #eee;
    font-size: 12px;
    text-align: left;
}

.prof-side .fa-3x {
    font-size: 10em;
    margin: 10% 30%;
    text-align: center;
		color: #DBDFE4;
}

@media(min-width:1200px){
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1250px;
    height: auto;
}
}
.navbar-inner .container{padding:0px;}
.box h1{

color: #fff;
font-size: 20px;

	}
.box h2{

color: #fff;
font-size: 16px;

	}

.box h3 a {
    font-size: 18px;
    margin-bottom: 5px;
   }

.box h4{

color: #1e5c8c;
font-size: 12px;

	}

.box h9{

color: #539DC8;
font-size: 10px;

	}

.box p, .box li{
padding:0px 20px;
color: #636363;

}

.box ol{
padding:0 0 0 50px ;
color: #333;

}


/*
.span6 .box{
height: 490px;
background: #ECF0F5;
}
*/


/* -------------------------- Header calendar  ----------------------------------------------*/



.fc-header {width:98%; padding: 1%; float: right;
}

.fc-header tr{ width: auto; }

.fc-header td {
	//white-space: nowrap;
   	}

.fc-header-left {
	width: 20%;
	text-align: left;
    margin: 1%;
 	}

.fc-header-center {
	text-align: center;
    vertical-align: text-top;
    margin: 1%;
	}

.fc-header-right {
	width: 20%;
	text-align: right;
    margin: 1%;
	}

.fc-header-title {
	display: inline-block;
	vertical-align: bottom;


	}

.fc-header-title h2 {
	/*margin-top: 0;
	font-size:1em;
	white-space: nowrap;*/
	}

.fc-header h2 {
	margin-top: 0;
	font-size: 12px;
	white-space: nowrap;
    color: #FF6A45;
    /*margin-top: 0;
	font-size:1em;
	white-space: nowrap;*/

	}



.fc .fc-header-space {
	padding-left: 10px;
	}

.fc-header .fc-button {
	//margin-bottom: 1em;
	vertical-align: center;

}




.fc-cell-overlay { /* semi-transparent rectangle while dragging */
	background: #bce8f1;
	opacity: .3;
	filter: alpha(opacity=30); /* for IE */
	}






.nav-tabs > .active > a, .nav-tabs > .active > a:hover { color: #F0652F; font-weight: bold; background: #EDF1F6;}


.table-responsive .table th,.table-responsive .table td {
    border-top: 1px solid #e8edf2;
    line-height: 20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.grid-view .button-column {
    background: #fff4;
    text-align: center;
    width: 10%;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
	.container-fluid{padding-top: 70px;}
	.container-fluid .discv {margin-left: -5%;}
	.navbar .brand {margin-left:-90px;}
	.style-switcher{margin-left:-70px;}
  }

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
	.container-fluid {
    padding-top: 3%;
}
	.navbar .brand {margin-left:-90px;}
	.style-switcher{margin-left:-70px;}
  }

table.detail-view td {font-size:11px;}
h1,h2,h3,h4, .portlet > .portlet-decoration, .sidebar-nav > ul > li > a, .navbar a, th{
	font-family: 'Helvetica', sans-serif;
}

 .sidebar-nav > ul > li > a, .navbar li > a, th{
	font-size:14px!important;
 }
.portlet > .portlet-decoration,th{
	font-size:11px!important;
}
/* Start Portlets*/
.portlet{
-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
  border:1px solid #DDDDDD;
  border-radius:3px;
  box-shadow:#F9F9F9 0 1px 0 inset;
  margin-bottom:20px;
  min-height:40px;

}

.portlet-decoration{
	border-bottom:1px solid #DDD;
	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F1F1F1), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
	padding:10px;
}

.portlet-decoration [class^="icon-"], .portlet-decoration [class*=" icon-"] {

  margin-right:5px;

}
.portlet-content{
	padding:5px;
}

/* end Portlets*/
.navbar {
  margin-bottom:0px;
  overflow:visible;
}

.summary ul {
margin: 0px;
padding: 0px;
list-style: none;
}

.summary ul li {
height: 52px;
clear: both;
margin-bottom: 14px;
}

.summary ul li .summary-icon {
width: 36px;
height: 36px;
float: left;
margin-right: 10px;
padding: 6px;
background: white;
border: #DDD 1px solid;
-webkit-box-shadow: inset 0 0 3px #EEE;
-moz-box-shadow: inset 0 0 3px #eee;
box-shadow: inset 0 0 3px #EEE;
-moz-border-radius: 100%;
-webkit-border-radius: 100%;
border-radius: 100%;
}

.summary ul li .summary-number {
font-size: 20px;
font-weight: bold;
display: block;
padding-top: 8px;
}

.summary ul li .summary-title {
display: block;
text-transform: uppercase;
font-size: 11px;
color: #AB4000;
}

.stat-block {
margin-bottom: 20px;
padding: 10px;
min-height:40px;
background: #F1F1F1;
background: -moz-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F1F1), color-stop(100%, #DBDBDB));
background: -webkit-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -o-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: -ms-linear-gradient(top, #F1F1F1 0%, #DBDBDB 100%);
background: linear-gradient(to bottom, #F1F1F1 0%, #DBDBDB 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#dbdbdb', GradientType=0 );
border: 1px solid #DDD;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 #F9F9F9;
-moz-box-shadow: inset 0 1px 0 #f9f9f9;
box-shadow: inset 0 1px 0 #F9F9F9;
}

.stat-block ul {
margin: 0px;
padding: 0px;
}

.stat-block li {
list-style: none;
float: left;
}

.stat-block .stat-graph {
width: auto;
background: white;
padding: 10px 10px 8px 10px;
border: #D7D7D7 1px solid;
text-align: center;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-right: 10px;
}

.stat-block .stat-count {
width: 90px;
}

.stat-block .stat-count span:last-child {
color: #666;
font-size: 12px;
font-weight: normal;
padding-top:3px;
}

.stat-block li span {
display: block;
}

.stat-block .stat-count span:first-child {
color: #1D2E7B;
font-weight: bold;
font-size: 20px;
}

.stat-block .stat-percent {
width: 40px;
float: right !important;
text-align: center !important;
}

.stat-percent{
	 font-size: 20px;
	 font-weight: bold;
 }
 /*Navbar*/
 .navbar-fixed-top {
  top:0;
  left:0;
  z-index: 999999999999;

}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}

.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #848282;
  background-color: #848282;
  background-image: linear-gradient(to bottom, #848282, #9e9090);
  background-image: -moz-linear-gradient(top, #848282, #9e9090);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#848282), to(#9e9090));
  background-image: -webkit-linear-gradient(top, #848282, #9e9090);
  background-image: -o-linear-gradient(top, #848282, #9e9090);
  background-repeat: repeat-x;
  outline: 0;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#848282', endColorstr='#9e9090', GradientType=0);
}
/*Side Nav*/
.sidebar-nav {
  padding:0!important;
}

.sidebar-nav ul{
  padding:0;
  margin:0;
}

.sidebar-nav ul li{
  list-style: none;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .sidebar-nav ul > li > span {
	padding:9px 15px;
  	margin-bottom:3px;
  	display:block;
}

.sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover {

	background-color: #F1F1F1;
	background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
	background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
	background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);

	-webkit-box-shadow:#F9F9F9 0 1px 0 inset;
	border:1px solid #DDDDDD;
	border-radius:3px;
	box-shadow:#F9F9F9 0 1px 0 inset;
	text-decoration:none;


}

.sidebar-nav  ul > li.active > a, .sidebar-nav ul > li.active > a:hover {

	background-color: #9e9090!important;
	background-image: -moz-linear-gradient(top, #9e9090, #979898)!important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#9e9090), to(#979898))!important;
	background-image: -webkit-linear-gradient(top, #9e9090, #979898)!important;
	background-image: -o-linear-gradient(top, #9e9090, #979898)!important;
	background-image: linear-gradient(to bottom, #9e9090, #979898)!important;
	background-repeat: repeat-x;
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff9e9090', endColorstr='#ff979898', GradientType=0);
	box-shadow:#cccccc 0 1px 0 inset;
	border:1px solid #9e9090;
	color:#F1F1F1;
}
.subnav.navbar-fixed-top {
  top:40px;
  z-index:111111111;
  float: right;

}

.subnav.navbar-fixed-top {
    float: right;
    margin-right: 8%;
    position: relative;
    top: 35px;
    z-index: 1;
}

.subnav.navbar-fixed-top .annee_aca { float: right; margin: 0 30px; font-size: 0.9em;}


/*Progress bar*/
.progress, .ui-progressbar {
	height:10px;
}

.ui-progressbar {
  border:0;
  border-radius:4px;
  clear: both;
  margin-bottom:20px;
}

.ui-progressbar.ui-widget-content {
	-webkit-box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	background-color:#F7F7F7;
	background-image:-webkit-linear-gradient(top, #F5F5F5, #F9F9F9);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.0980392) 0 1px 2px inset;
	overflow:hidden;
}

.ui-progressbar .ui-widget-header{
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow: none;
	box-sizing:border-box;
	color:#FFFFFF;
	float:left;
	height:100%;
	border:0;/**/
}
.ui-progressbar .ui-progressbar-value {
  margin:0px;
}


.ui-progressbar .ui-widget-header {
  -webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  -webkit-transition:width 0.6s ease;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
  background-repeat:repeat no-repeat;
  box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
  box-sizing:border-box;
  color:#FFFFFF;
  float:left;
  font-size:12px;
  height:100%;
  text-align:center;
  text-shadow:rgba(0, 0, 0, 0.247059) 0 -1px 0;
  width:0;
}

.progress-info .ui-widget-header, .progress-info.ui-slider.ui-widget-content  {
  background-color:#4BB1CF !important;
  background-image:-webkit-linear-gradient(top, #5BC0DE, #339BB9);
  background-repeat:repeat no-repeat;;
}

.progress-success .ui-widget-header, .progress-success.ui-slider.ui-widget-content  {
  background-color:#5EB95E  !important;
  background-image:-webkit-linear-gradient(top, #62C462, #57A957);
  background-repeat:repeat no-repeat;
}

.progress-warning .ui-widget-header, .progress-warning.ui-slider.ui-widget-content {
  background-color:#FAA732 !important;
  background-image:-webkit-linear-gradient(top, #FBB450, #F89406);
  background-repeat:repeat no-repeat;
}

.progress-danger .ui-widget-header, .progress-danger.ui-slider.ui-widget-content  {
  background-color:#DD514C !important;
  background-image:-webkit-linear-gradient(top, #EE5F5B, #C43C35);
  background-repeat:repeat no-repeat;
}

.progress-striped .ui-widget-header, .progress-striped.ui-slider.ui-widget-content  {
  -webkit-background-size:40px;
  background-color:#149BDF;
  background-image:-webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.14902) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.14902) 50%, rgba(255, 255, 255, 0.14902) 75%, transparent 75%, transparent);
  background-repeat:repeat;
}

.active.ui-progressbar .ui-widget-header {
	  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}
/*slider*/
.ui-slider{
	margin-bottom:20px;
}

.ui-slider.ui-widget-content{
	-webkit-box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	-webkit-transition:width 0.6s ease;
	background-color:#149BDF;
	background-image:-webkit-linear-gradient(top, #149BDF, #0480BE);
	background-repeat:repeat no-repeat;
	box-shadow:rgba(0, 0, 0, 0.14902) 0 -1px 0 inset;
	box-sizing:border-box;
	border:none;
}

/*Table*/
.table > table{
	width:100%;
}

/*CGridview*/
.filters select, .filters input, .filters .uneditable-input {
  border-radius:none;
  font-size:14px;
  height:20px;
  line-height:10px;
  margin-bottom:0;
  padding:0;
}

/*Pagination*/

.pager{
	margin:20px 0;
}
.pager ul{
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  border-radius:0px;
  box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 2px;
  display:inline-block;
  margin-bottom:0;
  margin-left:0;
  text-align:center;
}

.pager a, .pager span{

	border-radius:0px;
	margin-left:3px;
}

.pager ul > li.last > a, .pager ul > li.last > span {
  border-left-radius:4px;
}

.pager ul > li > a, .pager ul > li > span {
  background-color:#FFFFFF!important;
  border-color:#DDDDDD!important;
  border-style:solid;
  border-width:1px 1px 1px 0;
  float:left;
  line-height:20px;
  padding:4px 12px!important;
  text-decoration:none;
}

.pager ul > li.first > a, .pager ul > li.first > span {
  border-bottom-left-radius:4px;
  border-top-left-radius:4px;
}

ul.yiiPager li.hidden{
	display:none!important;
}

/*CListView*/
.list-view div.view{

	border:solid 1px #DDDDDD;
	padding: 10px;
	margin-bottom:10px;
	-webkit-box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
	box-shadow:rgba(0, 0, 0, 0.0470588) 0 1px 1px inset;
	border-radius:4px;

}

/*Form*/
.filters input, .filters .uneditable-input {
  width:100% !important;
}

div.form > form  .row {
  margin-left:0px;
}

/*Footer*/
footer {
	margin-top:10px;
	text-align:center;
}
/*Style switcher*/
.style-switcher
{
	padding-top:13px;
}
.style-switcher span.style
{
	width:16px;
	height:16px;
	display:block;
	margin-right:5px;
	float:left;
}

/*Button styles*/
.btn-info, #export-button {
  //color: #ffffff;
  //background: #F0652F;

}

 .btn-info:hover, #export-button:hover, .btn-warning:hover {
  color: #ffffff;
  background: #9ca5a9;

}


.btn-warning {
  //color: #4D4D4D;
  //background: #F0652F;
  text-shadow: none;

}

#room ul > li.branch { color: green;}


/***********************  icon manager  **************************************/

.cpanel div.icon, #cpanel div.icon {
    float: left;
    margin-bottom: 5px;
    margin-right: 5px;
    text-align: center;

   }


.cpanel div.icon a, #cpanel div.icon a {
    background-color: #FFF;
    background-position: -30px center;
    border: 1px solid #E6E5E5;
   -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
    color: #565656;
    display: block;
    float: left;
    height: 105px;
    width: 95px;
    margin: 8px;
    color: #B1B3B6;
    font: normal 10px Arial,Helvetica,sans-serif;
    padding: 5px;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 0.7em;
    transition-duration: 0.9s;
    transition-property: background-position, -moz-border-radius-bottomleft, -moz-box-shadow;
    transition-property: background-position, -o-border-radius-bottomleft, -o-box-shadow;
    transition-property: background-position, -webki-border-radius-bottomleft, -webki-box-shadow;
    transition-property: background-position;
    vertical-align: middle;

}




/****************************** icons********************************/

.cpanel div.icon a img, #cpanel div.icon a img{


     width: 75px;
     height: 75px;
     border-radius: 50% 50% 50% 50%;
     padding: 5px;

}



#cpanel div.icon a:hover, #cpanel div.icon a:focus, #cpanel div.icon a:active, .cpanel div.icon a:hover, .cpanel div.icon a:focus, .cpanel div.icon a:active {
     background-position: 0 center;
     webkit-border-radius: 10px;
	 -moz-border-radius: 10px;
	 -o-border-radius: 10px;
     -webkit-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	 -moz-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	 -o-box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
	 box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 10;
    background-color: #F5F6F7;
    behavior: url(/pie/PIE.htc);
}

#cpanel img, .cpanel img {
    margin: 0 auto;
    padding: 10px 0;
}
#cpanel span, .cpanel span {
    display: block;
    text-align: center;
}



.navbar navbar-inverse navbar-fixed-top, subnav navbar navbar-fixed-top{z-index:9999999999999;}


#grph4 h5, #grph3 h5, grph2 h5, grph1 h5 { width: 100%; color: red;}



/*
====================================== Mobiles =====================================
===================================================================================


*****************************************/


@media screen and (min-width: 1025px)
	{

		#index_dash{ margin-left: 0px;  margin-top: 0px; }
       #index_fluid{ margin-left: -100px;  margin-top: 0px; }

.box-content{
	background: #F4F6F8;
	padding: 10px;
	overflow:scroll;
	height:700px;
}


.box-content p {
    color: #656565;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 11px;
    font-weight: 100;
    line-height: 1.6em;
    text-align: justify;
}


#index_dash .span4 h2{ Font-size: 2em; }
#index_dash .span4{ background: #F4F6F8;height:100%; }
#index_dash .span4 h3 a{ color: #F0652F; margin-bottom: 5px; }

#index_dash .span4 h9{ color: #808284; }



.col-md-7 p img{ margin: 2px 5px; width: 200; height: 100px;  }




#content_m{ max-height: 110px; overflow: hidden; margin-left: -35px;  margin-right: 50px; background: #F5F5F5; border-top: 3px solid #275362; display: block; clear: both; margin: 5px 0;}


#content_m h2{font-size: 19px;}


#pincipale_c{ margin-left: -10px;  margin-right: 50px; margin-top: 5px;  width: 97%;  text-align: justify;display: block; clear: both;}

footer{ margin-left: 0px;  margin-right: 0px; display: block; clear: both; text-align: center;}

footer .span9 { text-align: center; clear: both;}

#content_m #box1 img{display: none;}
#content_m #box2 img{display: none;}

}



/********************************* screens 981px & 1024px *****************************************/


@media screen and (min-width: 981px) and (max-width : 1024px)
{


.container-fluid{margin-left: -100px; }


.box-content{
background: #ECF0F5;
padding: 10px;
overflow:scroll;}
.box-header, .box-header h5 {
    color: #ffffff;}

#index_dash{ margin-left: 3%; margin-right: 1%; clear: both;  margin-top: 0px; }

#index_dash1{ margin-left: 3%; margin-right: 1%; clear: both;  margin-top: -70px; }
#index_dash .span8{width: 100%; display: block; margin: 0 auto;}
#index_dash  .span4 { width: 100%; display: block; clear:both; margin: 0 auto; }
#index_dash #dash h2{ font-size: 1.5em;}

#index_dash #acronym{ font-size:1.5em; margin-top: 20px;}
#index_dash #dash{ width: 100%; margin-left: -10%; padding-right: 85px ;}
section .span12{padding-left:100px;   }



.head {

    height: 130px;
    width: 100%;
	clear: both;
    background: #275362;
    position: fixed;
	margin-top: -80px;
    margin-left: 0px;
    padding-left: 100px;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 1111;
    display: block; clear: both;

}


.dash .span3, #dash .span3 {
    display: block;
    margin-bottom: 10px;
    min-width: 50px;
    width: auto;
}



#content_m{ max-height: 110px; overflow: hidden; background: #F5F5F5; margin-left: 90px; width: 92%; border-top: 3px solid #275362; display: block; clear: both;}


#pincipale_c{ margin-left: 110px; width: 90%; margin-right: 20px; margin-top: 5px; text-align: justify;display: block; clear: both;}

footer{ margin-left: 10px; width: 97%;  margin-right: 10px; display: block; clear: both;}


#content_m #box1 img{display: none;}
#content_m #box2 img{display: none;}







}



/********************************* screens 768px & 980px *****************************************/


@media screen and (min-width: 768px) and (max-width : 980px)
{


.container-fluid{margin: 0 auto; }


.box-content{
background: #ECF0F5;
padding: 10px;
overflow:scroll;}
.box-header, .box-header h5 {
    color: #ffffff;}

#index_dash, #index_dash1{ margin-left: 0%;clear: both;  margin-top: 0px; }

#index_dash .span8{width: 100%; display: block; margin: 0 auto;}
#index_dash  .span4 { width: 100%; display: block; clear:both; margin: 0 auto; }
#index_dash #dash h2{ font-size: 1.5em;}

#index_dash #acronym{ font-size:1.5em; margin-top: 20px;}

section .span12{padding-left:15px;   }



}



/********************************* screen 640px *****************************************/



@media screen and (max-width: 667px)
{

.navbar-inner .container{padding:2px 25px;}
.span6 .box{ background: #ECF0F5; width: 100%;height:515px;}

.box-content{
background: #ECF0F5;
padding: 10px;
overflow:scroll;}
.box-header, .box-header h5 {
    color: #ffffff;}

#index_dash{ margin:0 5px; }
#index_dash1{width: 100%; }
.gwobwat #container {
    float: left;
    width: 100%;
    height: 320px;
    padding: 20px 0px;
}
#index_dash span8, dash { display: block; clear:both; width: 100%; margin-left: 0px; margin-right: 0px;}
#index_dash  .span4 { display: block; clear:both; width: 100%; margin-left: 0px; margin-right: 0px; }
#index_dash #dash h2{ font-size: 1.5em;}

#index_dash #acronym{ font-size:1.5em; margin-top: 20px;}




.carousel h2 {
			    background-color: rgba(0, 0, 0, 0.75);
			    top: 10px;
			    color: #fff;
			    font-size:11PX;
			   // left: 0px;
			    //padding: 0.1em 1em;
			    position: absolute;
			    width: 25%;
			    height: auto;
			    max-height: 80px;
			    overflow: hidden;
			    right: 10px;
			    text-align: right;
				border-radius: 5px;
			}




.head {

    height: 130px;
    width: 100%;
	clear: both;
    background: #275362;
    position: fixed;
	margin-top: -80px;
    margin-left: -100px;
    padding-left: 100px;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 1111;
    display: block; clear: both;

}

.dash .span3, #dash .span3 {
    display: inline-block;
    margin-bottom: 7px;
    margin-top: 3px;
    min-width: 50px;
    width: auto;
}


.css-carousel {
    height: 350px;
    margin-left: 0;
    margin-top: 65px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block; clear: both;
}


#pincipale_c{ margin-left: 0px; width: 100%; margin-right: 20px; margin-top: 5px; text-align: justify;}

 #content_m{ background: #F5F5F5; margin-left: 0px;border-top: 3px solid #275362; display: block; clear: both;}


#content_m h2{font-size: 17px;}
#content_m #box1, #content_m #box2{max-height: 200px; overflow: hidden; display: block; clear: both; text-align: justify;}



footer{ margin-left: 0px;  margin-right: 10px; display: block; clear: both;}


.featurette p img {
    display: block;
	clear: both;
    max-width: 100%;
    width: 100%;
}

#content_m #box1 img{display: none;}
#content_m #box2 img{display: none;}


#index_dash h2 {
    padding-top: 15px;
    text-align: center;
    width: 100%;
}


#index_dash #acronym {
    padding: 10px;
    width: 100%;
    text-align: center;
}

.acade_year {
    padding: 5px;
    width: 370px;
}










}



/********************************* screen 480px *****************************************/
/*

@media screen and (max-width: 480px)
{

.fc-header-left {
	display: none;
 	}


#index_dash{ margin-left: 85px;  margin-top: 0px; }
#index_dash1{width: 100%; }

#index_dash span8, dash { display: block; clear:both; width: 100%; margin-left: 0px; margin-right: 0px;}
#index_dash  .span4 { display: block; clear:both; width: 100%; margin-left: 0px; margin-right: 0px; }
#index_dash #dash h2{ font-size: 1.5em;}

#index_dash #acronym{ font-size:1.5em; margin-top: 20px;}

.fc-header h2 {
	margin-top: 0;
	font-size: 8px;
	white-space: nowrap;
    color: #FF6A45;
    width:10px;
    margin: 15px;
	}


.head {

    height: 130px;
    width: 100%;
	clear: both;
    background: #275362;
    position: fixed;
	margin-top: -80px;
    margin-left: -120px;
    padding-left: 100px;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 1111;

}

.toggle::after {
    background: #f0642d none repeat scroll 0 0;
    border-radius: 2px;
    box-sizing: border-box;
    color: #ffffff;
    content: attr(data-open);
    display: block;
    float: right;
    font-size: 12px;
    margin: 33px 5px;
    padding: 10px 10px;
    text-align: center;
    transition: all 0.5s linear 0s;
    width: 120px;
}




.css-carousel {
    height: 350px;
    margin-left: 0;
    margin-top: 65px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

#pincipale_c{ margin-left: 0px; width: 100%; margin-right: 20px; margin-top: 5px; text-align: justify;}

#content_m{ background: #F5F5F5; margin-left: 0px;border-top: 3px solid #275362;}

#content_m #box1, #content_m #box2{max-height: 200px; overflow: hidden; display: block; clear: both; text-align: justify;}

footer{ margin-left: 0px;  margin-right: 10px;}


.featurette p img {
    display: block;
	clear: both;
    max-width: 100%;
    width: 100%;
}


#content_m #box1 img{display: none;}
#content_m #box2 img{display: none;}



#index_dash h2 {
     font-size: 16px
    padding-top: 15px;
    text-align: center;
    width: 90%;
}


#index_dash #acronym {

    padding: 0px 20px;
    font-size: 13px;
}



#index_dash #academic-year-form {

    float: left;
    font-size: 9px;
    font-weight: 100;
    margin-left: 30%;
    width: 100%;
    width: auto;
}

#index_dash label {

    float: left;
    font-weight: 300;
    margin-left: 35%;
    width: 100%;
    width: auto;
}


.fc-header-title {
    display: inline-block;
    font-size: 9px;
    vertical-align: bottom;
}





}
