/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jun 9, 2018, 10:04:24 AM
    Author     : jcppoulard
*/
/*
table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;

    /*text-align: left;*/
/*}
/*
tbody {
    height: 120px;
    overflow-y: auto;
}

thead {
    /* fallback */
/*}

/*
tbody td, thead th {
    width: 100%;
    float: left;
}
*/

body {
  margin: 0;
  font-family: Arial;
  background: #ECF0F5;
}
/*
.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}
*/

.anTet {
  padding: 10px 16px;
  background: #555;
  color: #f1f1f1;
}

.kontni {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .kontni {
  padding-top: 102px;
}
