/*
 * © 2015 LOGIPAM services / www.logipam.com siges@logipam.com et contributeurs (voir www.logipam.com)
 *
 * This file is part of SIGES.

    SIGES is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    SIGES is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SIGES.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


.p_input input{width: 70px;}

div.form {
    max-width: 100%;
    padding: 1px 0;
}

div.form input,
div.form textarea,
div.form select
{
	//margin: 0.2em 0.5em;
	margin: 0 1%;
	display: inline-block;
	min-width: 80px;
}

div.form fieldset
{
	border: 1px solid #E4E9EF;
	padding: 10px;
	margin: 0 0 10px 0;
    -moz-border-radius:7px;
}

div.form label
{
	font-weight: bold;
	font-size: 0.9em;
	display: block;
}

div.form .row

{
	margin: 3px 0;
}

.rowgrade
{
	margin: 3px 1px;
	width: auto;
	min-width: 80px;
	float: left;
	background-color:#F5F6F7;
}
//.principal
//{
	//margin: 5px 1px;
//	width: auto;
//	display: block;
	//background-color:#F5F6F7;
//}


div.form .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}

div.form .note
{
	font-style: italic;
}

div.form span.required
{
	color: red;
}

div.form div.error label:first-child,
div.form label.error,
div.form span.error
{
	color: #C00;
}

div.form div.error input,
div.form div.error textarea,
div.form div.error select,
div.form input.error,
div.form textarea.error,
div.form select.error
{
	background: #FEE;
	border-color: #C00;
}

div.form div.success input,
div.form div.success textarea,
div.form div.success select,
div.form input.success,
div.form textarea.success,
div.form select.success
{
	//background: #E6EFC2;
	//border-color: #C6D880;
}


div.form .errorSummary
{
	border: 1px solid #C00;
	padding: 3px 3px 8px 3px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

div.form .errorMessage {
    color: red;
    font-size: 0.9em;
    z-index: 11111;
    position: absolute;
    background: #fff;
    padding: 2px 10px;
    margin-left: -10px;
}

div.form .errorSummary p
{
	margin: 0;
	padding: 5px;
}

div.form .errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

div.wide.form label
{
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 100px;
}

div.wide.form .row .rowgrade
{
	clear: left;
}

div.wide.form .buttons, div.wide.form .hint, div.wide.form .errorMessage
{
	clear: left;
	padding-left: 110px;
}



.modlog-open .modlog .dropdown-menu{z-index:2050}
.modlog-open .modlog .dropdown.open{*z-index:2050}
.modlog-open .modlog .popover{z-index:2060}
.modlog-open .modlog .tooltip{z-index:2080}
.modlog-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1040;background-color:#000}
.modlog-backdrop.fade{opacity:0}
.modlog-backdrop,.modlog-backdrop.fade.in{opacity:.8;filter:alpha(opacity=80)}
.modlog{position:fixed;top:50%;left:50%;z-index:1050;
       width:560px;
       margin:-250px 0 0 -280px;
       overflow:auto;
       background-color:#fff;
       border:1px solid #999;
       border:1px solid rgba(0,0,0,0.3);
       *border:1px solid #999;
       -webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;
       -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);-moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);box-shadow:0 3px 7px rgba(0,0,0,0.3);
       -webkit-background-clip:padding-box;-moz-background-clip:padding-box;background-clip:padding-box}

.modlog.fade{top:-25%;-webkit-transition:opacity .3s linear,top .3s ease-out;-moz-transition:opacity .3s linear,top .3s ease-out;-o-transition:opacity .3s linear,top .3s ease-out;transition:opacity .3s linear,top .3s ease-out}.modlog.fade.in{top:50%}.modlog-header{padding:9px 15px;border-bottom:1px solid #eee}.modlog-header .close{margin-top:2px}

.modlog-header h3{margin:0;line-height:30px}

.modlog-body{max-height:400px;padding:15px;overflow-y:auto}.modlog-form{margin-bottom:0}.modlog-footer{padding:14px 15px 15px;margin-bottom:0;text-align:right;background-color:#f5f5f5;border-top:1px solid #ddd;-webkit-border-radius:0 0 6px 6px;-moz-border-radius:0 0 6px 6px;border-radius:0 0 6px 6px;*zoom:1;-webkit-box-shadow:inset 0 1px 0 #fff;-moz-box-shadow:inset 0 1px 0 #fff;box-shadow:inset 0 1px 0 #fff}

.modlog-footer:before,.modlog-footer:after{display:table;line-height:0;content:""}
.modlog-footer:after{clear:both}.modlog-footer .btn+.btn{margin-bottom:0;margin-left:5px}
.modlog-footer .btn-group .btn+.btn{margin-left:-1px}








.moderror
	  {
	   position:fixed;top:55%;left:55%;z-index:1050;
       width:450px;
       margin:-200px 0 0 -320px;
       overflow:hidden;
       padding-left: 100px;
       background: #FFF;
       }

.moderror .span4 a{
	   color: #EE6539;
	   font-weight: bold;
       		}
