/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Nov 28, 2018, 1:24:27 PM
    Author     : jcppoulard
*/

.kinder-content > .nav-tabs > .active > a{

  background: #fff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #ccc;
}
.kinder-content{
  background: #ECF0F5;
  margin-top: -10px;
}
.kindertest th {
  border: 1px solid black;
  background: #00C0EF;
  color: #fff;
  border: none;
}
.kindertest{

  background: #fff;
  padding-top: 10px;
}
.kinder-form, #trombinoscope {
  margin: 10px;
}


.editable-click, a.editable-click, a.editable-click:hover {
    text-decoration: none;
    border-bottom: dashed 0px #0088cc;
    text-decoration: none;
}

#btn-add-concept{
    padding-bottom: 8px;
    padding-top: 8px;
}

.ui-accordion .ui-accordion-header {

    display: block;
    cursor: pointer;
    border-top: 6px solid #11AAAA;
    border-radius: 3px;
    position: relative;
    margin: 2px 0 0 0;
    padding: .5em .5em .5em .7em;
    font-size: 100%;
    background-color: #EDF1F6;

}
.espas-timoun{
text-align: center;
margin: 10px 0px;
border-radius: 2px;

}
.espas-timoun img{
 -webkit-transition: all .2s linear;
 -o-transition: all .2s linear;
 transition: all .2s linear;
 width: 90%;
 border: 2px solid #11AAAA;
}

.espas-timoun img:hover {
 transform: scale(1.3);
 border: 3px solid #00C0EF;
}


.espas-timoun span{
  width: 100%;
  display: block;
}
.modifye-mention{
    color :#00733e;
}


.small-box:hover .icon {
 font-size:75px
}


.elev-vert {

    color: #fff;
    font-size: 30px;
    position: absolute;
    margin-top: 30px;

}

    .img-koub {
        border-radius: 50%;
        text-align: center;
        height: auto;
        width: auto;
        max-width: 100px;
        max-height:100px;
        object-fit: cover;
        margin: 20px 0px;

    }
    .kinder {
        background: #11AAAA;
        padding: 0px;
        margin-top: -20px;
    }
  .kinder-card {
    background: #F39C12;
    padding: 0px;
    margin-top: -20px;
}
.kinder1 .span2 {
    min-height: 500px;
    background: #D2D6DE;
    margin-top: -20px;
    color: #333;
}
.kinder1 .span2 a{
    color: #333;
}
.kinder1 .span2 .nav > li > a:hover {
    text-decoration: none;
    opacity: 0.8;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: #333;
    background-color: #a8c7d7;
}
.nav-pills > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.r-c{
  margin-top: 10px;
  margin-right: 0px;
  position: absolute;

}
#resp_rrform #btn-add-concept{
    padding-bottom: 4px;
    padding-top: 4px;
}

#resp_rrform {
margin-bottom: -10px;
}
.lot #resp_form_siges{
  margin: 10px 0px;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
  padding: 10px;
  border-top: 3px solid #F39C12;

}
{
border-radius: 3px;
border-top: 3px solid #7A43B6;
margin: 15px 0px;
    margin-left: 0px;
float: left;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
max-height: 300px;
background: #fff;
padding: 10px;

}
#s2id_period-name .form #resp_form_siges > div > label > div {
    margin-top: 0px;
}
.kinder .required {
    color: #fff;
}

kinder .form #resp_form_siges > div > label, .required {
    display: inline-block;
    padding: 0;
    vertical-align: top;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    cursor: pointer;
}
.b_mail .col-submit{
  margin-top: 50px;
}
.editable-buttons .glyphicon{
  padding: 2px;
}
.editable-buttons {
  margin: 1px;
}

    #trombinoscope {
        padding-left: 35px;
    }

    .meni-akodeyon{
        font-size: 13px;
        padding: 3px;
     }
