/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 20, 2017, 3:33:52 PM
    Author     : jcppoulard
*/
.ui-datepicker { position: relative; z-index: 2000 !important; }
body {
  background-color: #24627e;



  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

/*
.pace-done .navbar-static-side {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    margin-top: 4%;
}
*/



/* Create a small height at 30px */
.nav-tabs-sm {min-height:30px}
.nav-tabs-sm .navbar-brand,
.nav-tabs-sm .nav-tabs>ul>a {padding-top:5px; padding-bottom:5px}
.nav-tabs-sm .navbar-brand {height: 30px}
.nav-tabs-sm .nav-tabs-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.nav-tabs-sm .navbar-toggle .icon-bar {width: 16px;}

.nav-header {

    margin-bottom: 10%;
    padding: 8px 25px 4px;

    color: #fff;
    height: 58px;
    background: #EEEEEE;

    -webkit-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
    box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);


}


.nav-header .m-t-xs {
    margin-top: 10px;
    color: #E0DDC4;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    font-weight: 700;
    font-size: 15px;
    color: #1AB394;
}
.nav-header  .open > .dropdown-menu {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
}

.nav-header  .open > .dropdown-menu  .divider {display: none;}

.nav-header .dropdown-menu li{
    background: #e0ddc4 none repeat scroll 0 0;
    border-radius: 2px;
    margin-top: -5px;
}
.nav > li.active {
    background: #4492AB none repeat scroll 0 0;

}
body.mini-navbar .nav-header {
    background:   #EC2D33 none repeat scroll 0 0;
    border-top: none;
    color: #fff;
    height: 58px;

}
body.mini-navbar li:first-child {
    border-bottom-color: none;
    border-bottom-style: solid;
    border-bottom-width: 0px;

}
.sidebar-collapse *{color: #FFF;}
.col-lg-6 h3, h3 {
  margin: 12px 0 0 0;
  line-height: 1.6;
  font-size: 16px;
  font-weight: bold;
  color: #2781B6;

}
.nav-second-level li * {color: #FFF;}

.mini-navbar .nav .nav-second-level {
    background-color: #345977;
    color: #FFF;
    font-size: 12px;
    left: 70px;
    padding: 10px;
    position: absolute;
    top: 0;
}

.img-circle {
  border-radius: 0%;
}
.navbar-right {
    float: right !important;
    margin-right: -15px;
    margin-top: -20px;
    z-index: 999999999;
}

.navbar-middle {
    max-width: 100px;
    float: left;
    margin-left: 20%;
}

/*  Le suspect se trouve quelques par ici ! */

nav.navbar, .navbar.navbar-static-top{
    background:  #f2f2f2 none repeat scroll 0 0;
    border-top: none;
    margin-bottom: 0;
    height: 58px;
    -webkit-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
    box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
}


.navbar-top-links li span{
  font-weight: bold;
  color: #2781B6;

}

.navbar-top-links ul {
  color: #FFF;

  background: #2781B6;
}

.navbar-top-links li a, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background: #2781B6;
    border-radius: 2px;
    color: #FFF;
   /* padding: 5px 15px;  Le probleme est ici */
}

.navbar-top-links .dropdown-menu li * {
    padding: 3px 20px;
    min-height: 0;
    color: #FFF;

}

.navbar-top-links .dropdown-menu li a:hover {
    color: #FFF;
    background: #4492AB;
}

.navbar-top-links li a.right-sidebar-toggle , li a.right-sidebar-toggle{background: none;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

        .dropdown-menu {

            float: left;
            font-size: 12px;
            left: 0;
            list-style: none outside none;
            padding: 0;
            position: relative;
            text-shadow: none;
            top: 100%;
            z-index: 1000;
            right: 10px;
        }
        .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
            background: #2781B6;
            border-radius: 2px;
            color: #FFF;
            padding: 5px 15px;
        }



        .img-circle {
        border-radius: 0%;
        margin-top: 15px;
        margin-left: -50%;
        max-width: 90px;
    }
    .nav-tabs > li > a, .nav-tabs > li {
    width: 95%;
    margin: 10px;
  }
    .nav.nav-tabs li {
    background: none;
    border: 0;
    margin: 1px;
    border-radius: 0px;
}

}



.navbar-static-side li a{

  color: #FFF;
}

.nav-header .text-muted {
    color: #ccc;
}
.navbar-static-side ul.dropdown-menu li * {color: #333;}
ul.nav .metismenu, #side-menu{

}
.navbar-default {
  background-color: transparent;
  border-color: #345977;
}

nav.navbar-default, .navbar-static-side {

}
ul.nav-second-level {
    background: none;
}


.logo-element {
    text-align: center;
    background: no-repeat;
    padding: 1px 0;
}

.btn-primary {

    background-color: #2781B6;
    border-color: #2781B6;
    color: #fff;
    border-radius:2px;
    font-size:12px;
    line-height:1.5;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #4492ab;
  border-color: #4492ab;
  color: #fff;
}

.btn-info {
    background-color: #4b86bc;
    border-color: #4b86bc;
    color: #fff;
}
.btn-info:hover {
    background-color: #4ba0bc;
    border-color: #4ba0bc;
    color: #fff;
}

.nav-tabs {
    border-bottom-color: #1AB394;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 15px;
    padding-left: 100px;
    margin-left: 10px;
    margin-right: 0;
    margin-top: 15px;
}

ul.nav-tabs-sm {

    margin-left: -5px;

}

#teacher-attendance .form-group {
    margin: 0 12px;
    display: flex;
    padding-right: 10px;
}
#teacher-attendance .control-label {
    margin-right: 12px;
}

#contact img {
  border-radius: 3px;
  margin:0 auto;
  max-width:300px;
  width:100%;
}


#contact .btn-group-sm > .btn, .btn-sm {
  border-radius:2px;
  font-size:12px;
  line-height:1.5;
  margin:10px;
  padding:5px 10px;

}

.tabs-container .nav-tabs {
    border-bottom-color: #1bb495;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

/* ============  loggin page css ===========  */


.loginscreen.middle-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    width: 300px;
   }

.loginscreen.middle-box .btn-primary {
       background-color: #30529c;
       border-color: #30529c;
       color: #fff;
   }


.loginscreen.middle-box h3 {
       font-size: 12px;
       line-height: 1.2;
   }

.middle-box {
    margin: 5% auto;
    max-width: 300px;
    padding: 0 20px 0;
    z-index: 100;
}


.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
    margin-top: -50px;
}


/*========== Calendar menu css ============*/

.list-group {
    margin: 65px 10px;

}

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .nav-tabs > li > a, .nav-tabs > li
  {
    background:  #2d799a;
    color: #FFF;
    margin: 0 1px;
    border: none;
    border-width: 0px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

  }

.tabs-container .nav-tabs > li.active > a,
.tabs-container .nav-tabs > li.active > a:hover,
.tabs-container .nav-tabs > li.active > a:focus ,
.tabs-container .nav-tabs > li a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus, .nav-tabs > li a:hover
{
  background: #1AB394;
  border: none;
  border-width: 0px;
  color: #FFF;
}


body .fc {
    font-size: 1em;
    padding-top: 20px;
}


.payroll-form {
max-width: 500PX;
margin: 0 auto;

}
.form-group {

margin: 0 auto;
}
/* =========================    view simple form 2 columns ========================= */

.persons-form, .courses-form, .billings-create, .other-incomes-create, .charge-paid-create,
.loan-of-money-create, .devises-form, .payment-method-create, .fees-create, .fees-label-create,
.charge-description-create, .other-incomes-description-create, .taxes-create,
.field-srcscholarshipholder-student, .partners-create, .password-reset, .auth-item-form,
.academicperiods-create, .shifts-form, .custom-field-create, .payroll-create

{
margin-top: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
max-width: 1148px;
}

/* =========================   view form with list 3 columns or more ========================= */

.payroll-settings-create, .scholarship-holder-create, .bareme-create,
.assignment-index, .events-create
{
margin-top: 0;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
max-width: 1400px;
}



.form-control, .single-line {
    border-radius: 5px;
    background: #f7f7f7;
}



#teacher-attendance-index,#teacher-attendance {padding: 100px; margin: 100px;}


.input-group {

}

.row .calendar{

  display: none;
}
.border-bottom {
    border-bottom-color: #e7eaec;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 15px;
}

 .ibox-content {
    background-color: #F3F3F4;
    border: none;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    color: inherit;
    padding:0px;
    margin: 0 20px;

}

.ibox-title {
    margin: 5px 20px;
}

#contact{

  background-color: #FFFFFF;
  padding:  0px 20px;
  border: 1px solid #e7eaec;
  border-radius: 5px;
}

#contact h4 {
    background-color: #19AA8D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    margin: -1px -4px 30px;
    padding: 10px;
}

#contact ul * {

    color: #333;

}



#teacher-attendance {
    padding: 0 95px;
}








.footer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffffff;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-top-color: #e7eaec;
    border-top-style: solid;
    border-top-width: 1px;
    bottom: 0;
    left: 0;
    margin-top: 35px;
    padding: 35px;
    position: absolute;
    right: 0;
    text-align: center;
}

.espas_browser{
    background-color: white;
    height: 400px;
    overflow: scroll;
}



#cmsprogramextra-image{
    background-color: #E0F2BE;
}

#cmscarrousel-image{
    background-color: #E0F2BE;
}

#cmsarticle-featured_image{
    background-color: #E0F2BE;
}

#cmsimagealbum-image_name {
    background-color: #E0F2BE;
}

#album-name{
    background-color: #E0F2BE;
}

#event-category{
    background-color: #E0F2BE;
}

.lokasyon{
    background-color: #E0F2BE;
}

.obligatwa{
    background-color: #EC2D33;
}

.teks-blan {
    color: white;
}

.piti-ekriti{
    font-size: 14px;
}



#zon-pam{
    overflow-y:scroll;
    overflow-x:hidden;
    height:600px;
}

/** Yon lot Nivo **/


.bwat-previou{
    display: none;
    width: 100%;
}

a:hover + .bwat-previou,.bwat-previou:hover{
    display: block;
    position: relative;
    z-index: 100;
}

nom-piti{
    font-size : 12px;
}

.bg-espesyalizasyon{
    background-color: #1AB394 !important;
}

.bg-estaf{
    background-color: #d5bc2c !important;
}

.bg-nouvo-elev{
    background-color: #ffc0cb !important;
}

.bg-postilan{
    background-color: #7a43b6 !important;
}

ul.dropdown-menu {
    background-color: #6A6A6A;

}

.dropdown-menu > li > a {

    color: #ffffff;

}
