/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 30, 2019, 1:52:17 AM
    Author     : jcppoulard
*/

h1 {
   color: red; 
  
}
.konsep {
    font-size : 10px;
}
h2 {
    font-size : 12px;
    color : green;
}
.mention {
    color: blue;
    font-size:10px;
    text-align: center;
    vertical-align: middle;
}

.kategori {
    font-size : 12px;
    color : green;
    background-color: #F8F8F8;
}



.impair{
  background-color : #F8F8F8;
}



.img-logo{
        
        text-align: center;
        height: auto; 
        width: auto; 
        max-width: 75px; 
        max-height:75px;
}

.enfo-lekol {
     padding-left : 0px;
}

#pdf-report-card td {
  border: 0.5px dotted #000;
  padding: 2px;
}
/*
#pdf-report-card {
  border: 0.5px dotted black;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  
}
*/
hr {
    border: none;
    height: 2px;
    /* Set the hr color */
    color: black; /* old IE */
    background-color: #black; /* Modern Browsers */
}
.non-lekol {
  font-size: 20px;
}

#plas-logo{
   display: inline-block;
}

#plas-info {
    display: inline-block;
    
}

.koule {
    font-size: 200px;
}