/*
 * © 2015 LOGIPAM services / www.logipam.com siges@logipam.com et contributeurs (voir www.logipam.com)
 *
 * This file is part of SIGES.

    SIGES is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    SIGES is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SIGES.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


.box2{
	position:relative;
	border-radius:3px;
	margin-bottom:20px;
	width:100%;
  border-bottom: 0px;
}

.box.box-primary{
	border-top-color:#3c8dbc
}

.box.box-info{
	//border-top-color:#00c0ef
}

.box.box-danger{
	border-top-color:#dd4b39
}

.box.box-warning{
	border-top-color:#f39c12
}

.box.box-success{
	border-top-color:#00a65a
}

.box2.box-default{
	border-top-color:#d2d6de
}

.box.collapsed-box .box-body,.box.collapsed-box .box-footer{
	display:none
}

.box .nav-stacked>li{
	border-bottom:1px solid #f4f4f4;
	margin:0
}

.box .nav-stacked>li:last-of-type{
	border-bottom:none
}

.box.height-control .box-body{
	max-height:300px;
	overflow:auto
}

.box .border-right{
	border-right:1px solid #f4f4f4
}

.box .border-left{
	border-left:1px solid #f4f4f4
}

.box.box-solid{
	border-top:0px
}

.box.box-solid>.box-header .btn.btn-default{
	background:transparent
}

.box.box-solid>.box-header .btn:hover,.box.box-solid>.box-header a:hover{
	background:rgba(0,0,0,0.1) !important
}

.box.box-solid.box-default{
	border:1px solid #d2d6de
}

.box.box-solid.box-default>.box-header{
	color:#444;
	background:#d2d6de;
	background-color:#d2d6de
}

.box.box-solid.box-default>.box-header a,.box.box-solid.box-default>.box-header .btn{
	color:#444
}

.box.box-solid.box-primary{
	border:1px solid #3c8dbc
}

.box.box-solid.box-primary>.box-header{
	color:#fff;
	background:#3c8dbc;
	background-color:#3c8dbc
}

.box.box-solid.box-primary>.box-header a,.box.box-solid.box-primary>.box-header .btn{
	color:#fff
}

.box.box-solid.box-info{
	border:1px solid #00c0ef
}

.box.box-solid.box-info>.box-header{
	color:#fff;
	background:#00c0ef;
	background-color:#00c0ef
}

.box.box-solid.box-info>.box-header a,.box.box-solid.box-info>.box-header .btn{
	color:#fff
}

.box.box-solid.box-danger{
	border:1px solid #dd4b39
}

.box.box-solid.box-danger>.box-header{
	color:#fff;
	background:#dd4b39;
	background-color:#dd4b39
}

.box.box-solid.box-danger>.box-header a,.box.box-solid.box-danger>.box-header .btn{
	color:#fff
}

.box.box-solid.box-warning{
	border:1px solid #f39c12
}

.box.box-solid.box-warning>.box-header{
	color:#fff;
	background:#f39c12;
	background-color:#f39c12
}

.box.box-solid.box-warning>.box-header a,.box.box-solid.box-warning>.box-header .btn{
	color:#fff
}

.box.box-solid.box-success{
	border:1px solid #00a65a
}

.box.box-solid.box-success>.box-header{
	color:#fff;
	background:#00a65a;
	background-color:#00a65a
}

.box.box-solid.box-success>.box-header a,.box.box-solid.box-success>.box-header .btn{
	color:#fff
}

.box.box-solid>.box-header>.box-tools .btn{
	border:0;
	box-shadow:none
}

.box.box-solid[class*='bg']>.box-header{
	color:#fff
}

.box .box-group>.box{
	margin-bottom:5px
}

.box .knob-label{
	text-align:center;
	color:#333;
	font-weight:100;
	font-size:12px;
	margin-bottom:0.3em
}

.box>.overlay,.box>.loading-img{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%
}

.box .overlay{
	z-index:1010;
	background:rgba(255,255,255,0.7);
	border-radius:3px
}

.box .overlay>.fa{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-15px;
	margin-top:-15px;
	color:#000;
	font-size:30px
}

.box .overlay.dark{
	background:rgba(0,0,0,0.5)
}
/**========================================**/

.box-header{
	display:block;
    height: 35px;
	padding-top:5px;
    padding-left:10px;
	position:relative;
    font-weight: normal;

}


.box-header h5{
    font-weight: normal;
        font-size:12px;
}




.box-header:before,.box-header:after{
	content:" ";
	display:table
}

.box-header:after{
	clear:both
}

.box-header.with-border{
	border-bottom:1px solid #f4f4f4
}

.collapsed-box .box-header.with-border{
	border-bottom:none
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title{
	display:inline-block;
	font-size:15px;
	margin:0;
	line-height:1
}


.box-header>.fa,.box-header>.glyphicon,.box-header>.ion{
	margin-right:5px
}

.box-header>.box-tools{
	position:absolute;
	right:10px;
	top:5px
}

.box-header>.box-tools [data-toggle="tooltip"]{
	position:relative
}

.box-header>.box-tools.pull-right .dropdown-menu{
	right:0;
	left:auto
}

.btn-box-tool{
	padding:5px;
	font-size:12px;
	background:transparent;
	box-shadow:none!important;
	color:#97a0b3
}

.open .btn-box-tool,.btn-box-tool:hover{
	color:#606c84
}

.btn-box-tool:active{
	outline:none!important
}

/******************* box dashboard report ****************************/


.box2-body {
    border: 1px solid #ebedf1;
    border-radius: 0 0 3px 3px;
    font-size: 15px;
    height: 30px;
    padding: 10px 3px;
}








.box2-body canvas {width: 85%;
		display: block;
       margin-left: auto;
    margin-right: auto;
      }



.no-header .box-body{
	border-top-right-radius:3px;
	border-top-left-radius:3px
}

.box-body>.table{
	margin-bottom:0

}

.box2-body .labels{

	width: 80%;
    display: block;
    margin: 10px auto;

}



.chart-label{padding: 5px;}



/*--------------------------------------------------------*/


.box-body>.chart{
	position:relative;
	overflow:hidden;
	width:100%
}

.box-body>.chart svg,.box-body>.chart canvas{
	width:100%!important
}

.box-body .fc{
	margin-top:5px
}

.box-body .full-width-chart{
	margin:-19px
}

.box-body.no-padding .full-width-chart{
	margin:-9px
}

.box-body .box-pane{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:3px
}

.box-body .box-pane-right{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:0
}

.box-footer{
	border-top-left-radius:0;
	border-top-right-radius:0;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	border-top:1px solid #f4f4f4;
	padding:10px;
	background-color:#fff
}

.info-box{
	display:block;
	min-height:90px;
	background:#ECF0F5;
	width:100%;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
	border-radius:2px;
	margin-bottom:15px;
    border-top: 5px;
}

.info-box small{
	font-size:14px
}

.info-box .progress{
	background:rgba(0,0,0,0.2);
	margin:5px -10px 5px -10px;
	height:2px
}

.info-box .progress,.info-box .progress .progress-bar{
	border-radius:0
}

.info-box .progress .progress-bar{
	background:#fff
}

.info-box-icon{
	/*border-top-left-radius:2px;
	border-top-right-radius:0;
	border-bottom-right-radius:0;
	border-bottom-left-radius:2px;*/
	display:block;
	float:left;
	height:90px;
	width:90px;
	text-align:center;
	font-size:45px;
	line-height:90px;
	/*background:rgba(255,255,255,255)*/
        color: #ee6539;
        margin: 5px;
        padding-top: 3px;
}

.info-box-content{
	padding:5px 10px;
	margin-left:90px
}

.info-box-number{
	display:block;
	font-weight:bold;
	font-size:18px
}

.progress-description,.info-box-text{
	display:block;
	font-size:14px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis
}

.info-box-text{
	text-transform:uppercase
}

.info-box-more{
	display:block
}

.bg-aqua,.callout.callout-info,.alert-info,.label-info,.modal-info .modal-body{
	//background-color:#00c0ef !important;

}

.callout{
	border-radius:3px;
	margin:0 0 20px 0;
	padding:15px 30px 15px 15px;
	border-left:5px solid #eee
}

.callout a{
	color:#fff;
	text-decoration:underline
}

.callout a:hover{
	color:#eee
}

.callout h4{
	margin-top:0;
	font-weight:600
}

.callout p:last-child{
	margin-bottom:0
}

.callout code,.callout .highlight{
	background-color:#fff
}

.callout.callout-danger{
	border-color:#c23321
}

.callout.callout-warning{
	border-color:#c87f0a
}

.callout.callout-info{
	border-color:#0097bc
}

.callout.callout-success{
	border-color:#00733e
}
