/*
 * © 2015 LOGIPAM services / www.logipam.com siges@logipam.com et contributeurs (voir www.logipam.com)
 *
 * This file is part of SIGES.

    SIGES is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    SIGES is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SIGES.  If not, see <http://www.gnu.org/licenses/>.
 *
 */


/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}

body {font-size:75%;
      color:#222;
      background:#fff;
    }

h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:1.6em;margin-bottom:0.75em;}
h3 {font-size:1.4em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {
    float: left !important;
    margin: 0 7px;
}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important; margin: 0 7px;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
/*thead th {background:#c3d9ff;}*/
/*
thead th {
    position: relative;
    background: #83c5e9;
    border-top: 3px solid #74a2bc;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}*/
/*thead th {
    position: relative;
    background: #ced4d9;
    border-bottom: 3px solid rgb(11, 11, 11);

}
*/


thead th {

    position: relative;
    background: #ced4d9;
    border-bottom: 3px solid rgb(255, 86, 0);
}
th, td, caption {
					padding:4px 10px 4px 5px;
					barder-bottom: 1px solid #000;

				}
tfoot {font-style:italic;}
caption {background:#eee;}


a.buttons-excel{
  margin-top:  0px;
}
.span .well {
    min-height: 10px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #B9CCDE;
    border: 1px solid #e3e3e3;
}

.run-re {
  border-radius: 3px;
  margin: 15px auto;
  float: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
  background: #e5e7ea;
  padding: 10px;
  width: 90%;
}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* grid.css */
.container {width:950px;margin:0 auto;}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {float:left;margin-right:10px;}
.last {margin-right:0;}
.span-1 {width:30px;}
.span-2 {width:70px;}
.span-3 {width:110px;}
.span-4 {width:150px;}
.span-5 {width:190px;}
.span-6 {width:230px;}
.span-7 {width:270px;}
.span-8 {width:310px;}
.span-9 {width:350px;}
.span-10 {width:390px;}
.span-11 {width:430px;}
.span-12 {width:470px;}
.span-13 {width:510px;}
.span-14 {width:550px;}
.span-15 {width:590px;}
.span-16 {width:630px;}
.span-17 {width:670px;}
.span-18 {width:710px;}
.span-19 {width:750px;}
.span-20 {width:790px;}
.span-21 {width:830px;}
.span-22 {width:870px;}
.span-23 {width:910px;}
.span-24 {width:950px;margin-right:0;}
input.span-1, textarea.span-1, input.span-2, textarea.span-2, input.span-3, textarea.span-3, input.span-4, textarea.span-4, input.span-5, textarea.span-5, input.span-6, textarea.span-6, input.span-7, textarea.span-7, input.span-8, textarea.span-8, input.span-9, textarea.span-9, input.span-10, textarea.span-10, input.span-11, textarea.span-11, input.span-12, textarea.span-12, input.span-13, textarea.span-13, input.span-14, textarea.span-14, input.span-15, textarea.span-15, input.span-16, textarea.span-16, input.span-17, textarea.span-17, input.span-18, textarea.span-18, input.span-19, textarea.span-19, input.span-20, textarea.span-20, input.span-21, textarea.span-21, input.span-22, textarea.span-22, input.span-23, textarea.span-23, input.span-24, textarea.span-24 {border-left-width:1px;border-right-width:1px;padding-left:5px;padding-right:5px;}
input.span-1, textarea.span-1 {width:18px;}
input.span-2, textarea.span-2 {width:58px;}
input.span-3, textarea.span-3 {width:98px;}
input.span-4, textarea.span-4 {width:138px;}
input.span-5, textarea.span-5 {width:178px;}
input.span-6, textarea.span-6 {width:218px;}
input.span-7, textarea.span-7 {width:258px;}
input.span-8, textarea.span-8 {width:298px;}
input.span-9, textarea.span-9 {width:338px;}
input.span-10, textarea.span-10 {width:378px;}
input.span-11, textarea.span-11 {width:418px;}
input.span-12, textarea.span-12 {width:458px;}
input.span-13, textarea.span-13 {width:498px;}
input.span-14, textarea.span-14 {width:538px;}
input.span-15, textarea.span-15 {width:578px;}
input.span-16, textarea.span-16 {width:618px;}
input.span-17, textarea.span-17 {width:658px;}
input.span-18, textarea.span-18 {width:698px;}
input.span-19, textarea.span-19 {width:738px;}
input.span-20, textarea.span-20 {width:778px;}
input.span-21, textarea.span-21 {width:818px;}
input.span-22, textarea.span-22 {width:858px;}
input.span-23, textarea.span-23 {width:898px;}
input.span-24, textarea.span-24 {width:938px;}
.append-1 {padding-right:40px;}
.append-2 {padding-right:80px;}
.append-3 {padding-right:120px;}
.append-4 {padding-right:160px;}
.append-5 {padding-right:200px;}
.append-6 {padding-right:240px;}
.append-7 {padding-right:280px;}
.append-8 {padding-right:320px;}
.append-9 {padding-right:360px;}
.append-10 {padding-right:400px;}
.append-11 {padding-right:440px;}
.append-12 {padding-right:480px;}
.append-13 {padding-right:520px;}
.append-14 {padding-right:560px;}
.append-15 {padding-right:600px;}
.append-16 {padding-right:640px;}
.append-17 {padding-right:680px;}
.append-18 {padding-right:720px;}
.append-19 {padding-right:760px;}
.append-20 {padding-right:800px;}
.append-21 {padding-right:840px;}
.append-22 {padding-right:880px;}
.append-23 {padding-right:920px;}
.prepend-1 {padding-left:40px;}
.prepend-2 {padding-left:80px;}
.prepend-3 {padding-left:120px;}
.prepend-4 {padding-left:160px;}
.prepend-5 {padding-left:200px;}
.prepend-6 {padding-left:240px;}
.prepend-7 {padding-left:280px;}
.prepend-8 {padding-left:320px;}
.prepend-9 {padding-left:360px;}
.prepend-10 {padding-left:400px;}
.prepend-11 {padding-left:440px;}
.prepend-12 {padding-left:480px;}
.prepend-13 {padding-left:520px;}
.prepend-14 {padding-left:560px;}
.prepend-15 {padding-left:600px;}
.prepend-16 {padding-left:640px;}
.prepend-17 {padding-left:680px;}
.prepend-18 {padding-left:720px;}
.prepend-19 {padding-left:760px;}
.prepend-20 {padding-left:800px;}
.prepend-21 {padding-left:840px;}
.prepend-22 {padding-left:880px;}
.prepend-23 {padding-left:920px;}
.border {padding-right:4px;margin-right:5px;border-right:1px solid #ddd;}
.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #ddd;}
.pull-1 {margin-left:-40px;}
.pull-2 {margin-left:-80px;}
.pull-3 {margin-left:-120px;}
.pull-4 {margin-left:-160px;}
.pull-5 {margin-left:-200px;}
.pull-6 {margin-left:-240px;}
.pull-7 {margin-left:-280px;}
.pull-8 {margin-left:-320px;}
.pull-9 {margin-left:-360px;}
.pull-10 {margin-left:-400px;}
.pull-11 {margin-left:-440px;}
.pull-12 {margin-left:-480px;}
.pull-13 {margin-left:-520px;}
.pull-14 {margin-left:-560px;}
.pull-15 {margin-left:-600px;}
.pull-16 {margin-left:-640px;}
.pull-17 {margin-left:-680px;}
.pull-18 {margin-left:-720px;}
.pull-19 {margin-left:-760px;}
.pull-20 {margin-left:-800px;}
.pull-21 {margin-left:-840px;}
.pull-22 {margin-left:-880px;}
.pull-23 {margin-left:-920px;}
.pull-24 {margin-left:-960px;}
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {float:left;position:relative;}
.push-1 {margin:0 -40px 1.5em 40px;}
.push-2 {margin:0 -80px 1.5em 80px;}
.push-3 {margin:0 -120px 1.5em 120px;}
.push-4 {margin:0 -160px 1.5em 160px;}
.push-5 {margin:0 -200px 1.5em 200px;}
.push-6 {margin:0 -240px 1.5em 240px;}
.push-7 {margin:0 -280px 1.5em 280px;}
.push-8 {margin:0 -320px 1.5em 320px;}
.push-9 {margin:0 -360px 1.5em 360px;}
.push-10 {margin:0 -400px 1.5em 400px;}
.push-11 {margin:0 -440px 1.5em 440px;}
.push-12 {margin:0 -480px 1.5em 480px;}
.push-13 {margin:0 -520px 1.5em 520px;}
.push-14 {margin:0 -560px 1.5em 560px;}
.push-15 {margin:0 -600px 1.5em 600px;}
.push-16 {margin:0 -640px 1.5em 640px;}
.push-17 {margin:0 -680px 1.5em 680px;}
.push-18 {margin:0 -720px 1.5em 720px;}
.push-19 {margin:0 -760px 1.5em 760px;}
.push-20 {margin:0 -800px 1.5em 800px;}
.push-21 {margin:0 -840px 1.5em 840px;}
.push-22 {margin:0 -880px 1.5em 880px;}
.push-23 {margin:0 -920px 1.5em 920px;}
.push-24 {margin:0 -960px 1.5em 960px;}
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {float:left;position:relative;}

div.prepend-top, .prepend-top {margin-top:1.5em;}

div.append-bottom, .append-bottom {margin-bottom:1.5em;}

/*color table*/



.box {margin-top:0.2em; padding:0.5em;margin-bottom:1.5em;//background: #ECEDF2;
border-radius: 5px}
.box table {margin-bottom:0.2em;width:100%;}

hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}


/*
.navbar-inverse .navbar-inner {
    background-color: #e4e9ef;
    background: #e4e9ef;
    background-repeat: repeat-x;
    border-bottom: 2px solid #f0652f;
}
*/


/*********************** Highcharts ********************/


#container .highcharts-yaxis-labels{ display: none;}

.chart_g .span5{width: 100%}


/*********************** gestion mail**********************/




.b_mail{background: #EFF3F8; padding: 10px;}

.b_m{background: #EFF3F8; padding: 10px;}

.span10 .box-primary{
	color: #333;
	//background: #000;
	//border-left: 1px solid #f5f5f5;
   // border-right: 1px solid #f5f5f5;
    background: #fafbfb;//#f5f9fc;
    padding: 0px;
	margin-right: 10px;

     }


.span10 .box-primary h4{
	float: left; }

.span10 .box-primary .no-padding{
	float: right; }



.checkbox_view .inbox-grid{
overflow:scroll;
height:500px;
width: 100%;
background: #ecf0f3;
//padding-right: 30px;
}

.t_mail{
overflow:scroll;
min-height:300px;
max-height:600px;
//padding-right: 30px;
}



#inbox-grid {
overflow:scroll;
//height:500px;
//width: 100%;
//padding-right: 30px;
}



.span2 .box-solid
{
padding-left: -100px;//background: #E6E6E6;

}



.checkbox_view .t_mail{ padding: 30px; background: #FAFBFB;}

.checkbox_view .t_mail p{ padding: 5px 5px; background: #FAFBFB;}


.r_mail{
 padding: 10px;
 background: #E4E9EF;

}



.span10 .box-header {
		background: #E4E9EF; //#c3d1df;
		//color: #FFF;
		-webkit-border-radius:2px;
        -moz-border-radius:2px;
        border-radius:2px;
		behavior: url(/pie/PIE.htc);
		//width: 100%;
}

.b_mail ul{
		width: 100%;
        border-bottom: 1px solid #FFF; display: inline-block;}

.b_mail ul li{
		width: 80%;
        border-bottom: 1px solid #FFF;
        font-size: 0.95em;
        display: block;
         clear: both;
	}
.b_mail li{
		width: 80%;
         display: block;
         clear: both;
        //border-top: 1px solid #FFF;
	}



.side_mail ul{
		//background: #000;
        width: 100%;
        padding: 0px;
	}




.mail_date{
padding: 19px 20px 0px 10px;
color: #1e5c8c;
background: #EFEFEF;
border-bottom: 1px solid #EFEFEF;
background: #cfd1cf -moz-linear-gradient(center top , #f5f5f5, #cfd1cf) repeat scroll 0 0;
}

.mail_date .pull-right{float: right; right: 10px;}




.read_mail td a{
     font-weight: bold;
}


.balance{
    color: #FF0000;
}


.balance td a{
    color: #FF0000;
}
/*
.scholarship{
    color: #9ba901;
}


.scholarship td a{
    color: #9ba901;
}  */


.scholarship{
    color: #029fc6;
}


.scholarship td a{
    color: #029fc6;
}





 #contact_frow{padding-top: 80px;border-top: 3px solid #275362;}



 #contact_frow input, #contact_frow textarea{width: 100%; max-width: 400px;}




/*=============================  Form SIGES  ================================== */



.b_m{background: #;}
.b_m p{margin-left:32px; margin-top:5px; margin-bottom:-20px;}

.form #resp_form_siges
{
  display: block;
  margin: 0px 0px;
  overflow: hidden;
  //background: #EDF1F6;
  border: none;
  border-radius: 3px;
  font-size: 0;
}

.form #resp_form
{

  border: none;
  border-radius: 3px;
}



/*==========================  dropdaown size   =============================*/

.select2-dropdown-open .select2-choice, .select2-container-active .select2-choice, .select2-container-active .select2-choices, .select2-container .select2-choice {

    width: 100%;
    position: relative;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: top;
    min-width: 150px;
    margin-top: 6px;
}

#resp_form label{ display: block;}




::-webkit-input-placeholder { /* WebKit browsers */
    color:    #b6c4cb;
    font-size: 11px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #b6c4cb;
	font-size: 11px;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #b6c4cb;
   font-size: 11px;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #b6c4cb;
   font-size: 11px;
}


.b_m form > .note {display: none;}


.form #resp_form_siges  > div > label > div
{
  margin-top: 0px;

}


@media(min-width:800px){
.form #resp_form_siges  > div {
    display: inline-block;
  }
.form #resp_form_siges  > div.col-submit {
    display: block;
  }
}

.form #resp_form_siges  > div > label
{
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  font-family:  Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #333;
  cursor: pointer;
}

.form #resp_form_siges  > div.col-2, .form #resp_form_siges  > div.col-3, .form #resp_form_siges  > div.col-4 {
  //background: #EDF1F6;
  border: none;
}

@media(min-width: 800px){
 .form #resp_form_siges   > div.col-2, .form #resp_form_siges > div.col-3, .form #resp_form_siges  > div.col-4 {  border: none; }
}

@media(min-width:800px){
  .form #resp_form_siges   > div.col-2 { width: 50%; min-height: 80px; }
  .form #resp_form_siges   > div.col-3 { width: 33.3333333333%; min-height: 80px; }
  .form #resp_form_siges   > div.col-4 { width: 25%; min-height: 75px; height: auto;}
}


.form #resp_form_siges  > div > label > textarea, .form #resp_form_siges  > div > label > input
{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 20px;
  line-height: 20px;
  margin: 5px -5px 0;
  padding: 7px 5px 3px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: #fff;
  //background: transparent;
  font-size: 13px;
  font-weight: normal;
  color: #333;
  opacity: .66;
  transition: opacity .3s, box-shadow .3s;
}

.form #resp_form_siges  > div.col-submit {

  //background-color: #EFF3F8;
  margin-top: 12px;
  text-align: center;
  padding: 15px 0 0;
  border-top: 1px solid #ccc;
  display: bolck;
}

.form #resp_form_siges  > div.col-submit button {
  //border: 1px solid #E4E4E4;
  //background: #A3CECE ;
  font-size: 13px;
  //color: #fff;
  padding: 1em;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  //text-transform: uppercase;
}

@media(min-width: 800px){
  .form #resp_form_siges  > div.col-submit button {
    width: 30%;
    margin: 0 auto;
  }
}

.form #resp_form_siges  > div.col-submit button:hover {
  background: #92BDBD;
}

.form #resp_form_siges  > div > label > select
{
  display: block;
  width: 100%;
  margin: 16px 0 6px;
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .33;
}


.form #resp_form_siges  > div > label > textarea
{
  display: block;
  width: 100%;
  margin: 5px 0 2px;
  padding: 2px 0;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 200;
  opacity: .33;
  min-height: 23px;
  background: #FFF;
  border: 1px solid #F5F6F7;
  border-radius: 5px;
}





.form #resp_form_siges  > div > label > input, .form #resp_form_siges > div > label > select
{
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
  border: 1px solid #eee;
}

.form #resp_form_siges > div > label > textarea
{
  opacity: 1;
  box-shadow: 0 3px 4px rgba(0, 0, 0, .15);
  border: 1px solid #eee;
}




.form #resp_form_siges  > div > label > input:focus, .form #resp_form_siges  > div > label > select:focus
{
  opacity: 1;

  box-shadow: 0 1px 3px rgba(0, 0, 0, .65);
}


.form #resp_form_siges  > div > label > textarea:active, .form #resp_form_siges  > div > label > textarea:focus
{
  box-shadow: 0 1px 3px rgba(0, 0, 0, .65);
  color: #333;
  border: 1px solid #E4E4E4;
  border-radius: 10px;
  padding: 5px 0;
  min-height: 50px;
}



/*===========================CMS==================================*/

.head {

    height: 100px;
    width: 100%;
	clear: both;
    background: #275362;
    position: fixed;
	margin-top: -85px;
    margin-left: -130px;
    padding-left: 100px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 100%;
    position: fixed;
    z-index: 1111;

}


.top_head{  width: 89%; display: block;  }

					#left
						 {float: left; margin-top:10px;margin-bottom:10px;
						  display: block;
						  //width: 76px; height: 76px;
						  padding:2px;
						  background-size:contain;
					 	  background-repeat: no-repeat;
                          background-position:center ;

						 }

 #left img {width: auto; height: 80px;}

#center, #right{float: left;display: relative;  }


.bottom_head{display: table-row; width: 100%; float: left;  padding: 10px;}


#cms_contact{   margin-top: 60px; }

#cms_contact h1, #cms_contact p{

    margin-left: 2%;
    min-width: 80px;
    width: 80%;}

#cms_form{  margin: 20px; width: 80%;}

#cms_form input, #cms_form textarea, #cms_form select {
    display: block;
    margin: 0 1%;
    min-width: 80px;
    width: 80%;
}

#cms_form label, #cms_form img, #cms_form .hint,  #cms_form a{
    display: block;
    margin-left: 1%;

}



.lead{color: #333;}
a {
  text-decoration: none;
 // color: #fff;
 // display: block;
}

ul {
  list-style: none;
  position: relative;
  text-align: left;
}

li.branch {
  float: left;
  margin: 1px auto;
  display: block;
  clear:both;
  border-radius: 2px;
  margin: 5px auto;
  float: left;
  padding: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
  background: #ECF0F5;
  width: auto;
  min-width: 400px;
}

li.branch ul li{
  padding-left:30px;
  color: #777;
  margin: 1px auto;
}
li.branch ul li:hover{
  background: #eee;
}
li.branch ul li a{
  margin-left:10px;
}

/* clear'n floats */
ul:after {
  clear: both;
}

ul:before,
ul:after {
    content: " ";
    display: table;
}

ul.primary {
  float: right !important;
  margin-right: 10%;
}

/* prime */


#navig {
  position: fixed;
  top: 1px;
  right: 0%;
  text-align: center;
  //letter-spacing: 1px;
  //background: #275362;
  padding: 0 15px;
  border-radius: 4px;

}
#navig1 {
  position: relative;
  right: 0%;
  text-align: center;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 4px;

}

/*--------------------------------
 Presentation Styles for the responsive menu
------------------------------------------------*/

// Smaller menu when on small screen
// All padding and margin are in em, so they will scale as well
@media (min-width : 900px) {
  .menux {
    font-size: 1.2em;
  }
}

.menux {
  padding: 0.5em;
  //background: #eee;
  min-height: 2em;
  line-height: 1em;

  > ul {
    transition: max-height .25s linear;
  }

  ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    // visibility transition is on li because multiple transition selectors is not well supported
    transition: visibility .25s linear;
    display: inline-block;
    border: 1px solid;
    padding: .45em 1.1em;
    margin: 0 .3em;
    position: relative;
  }
}

@media (min-width : 651px) {
  .menux {
      li { // nested menu
        ul {
          display: none;
          position: absolute;
          top: 100%;
          margin-top: 1px;
          left: -1px;
          right: -1px;
        }
        &:hover ul {
          display: block;
        }
        li {
          margin: -1px 0 0 0;
          box-sizing: border-box;
          width: 100%;
        }
     }
  }


                 #left
						 {float: left; margin-top:15px;margin-bottom:10px;
						  display: block;
						 // width: 100px; height: 76px;

						 }


.menux{ margin-bottom:15px; }
.desc_s{ display: block; color: #FFF; Font-size: 2em; float: left;  clear: both; line-height: 0.8em; word-wrap: break-word;
    text-align: justify;
    text-align-last:center;

}


}

@media (max-width : 650px) {
  .menux {
    > ul {
      max-height: 0;
      overflow: hidden;
      margin: 0 3.5em 0 1em;
    }

    li {
      visibility: hidden;
      display: block;
      padding: 0.5em 0.6em;
      border: none;
    }

    li { // nested menu
      ul {
        margin-top: 0.5em;
        border-left: 1px solid #000;
      }
    }

    .navbar-handlex {
      display: block;
    }
  }

  #navbar-checkboxx:checked + .menux {
    ul {
      max-height: 300px;
    }

    li {
      visibility: visible;
    }
    .navbar-handlex {
      &, &:after, &:before {
        border-color: #aaa;
      }
    }
  }
}

.navbar-checkboxx {
    display: none;
}












 .navbar-handlex {
    @height: 45px; // just a reference to compute em values on the fly
    display: none;
    cursor: pointer;
    position: relative;
    font-size: @height;
    padding: .5em 0;
    height: 0;
    width: 1em * 75px / @height;
    border-top: (1em * 6px / @height) solid;

    &:before, &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: ' ';
        border-top: (1em * 6px / @height) solid;
    }

    &:before {
        top: 1em * 17px / @height;
    }

    &:after {
        top: 1em * 40px / @height;
    }
}



///////////

.menux {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  .navbar-handlex {
    position: absolute;
    font-size: 1.2em;
    top: 0.7em;
    right: 12px;
    z-index: 10;
  }
}




.desc_s { text-align-last:center; display: block; float: left; margin-top:-25px;margin-bottom:10px;  display: block; clear: both; color: #fff; }



}


#toggle, .toggle { display: none; }
.menux > li { list-style: none; float:left;	}

/* Nicolas Gallagher micro clearfix */
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

@media only screen and (max-width: 768px){
	.menux { display: none; opacity: 0; width: 100%; position: absolute; right: 0; }
	.menux > li { display: block; width: 100%; margin: 0; }
	.menux > li > a { display: block; width: 100%; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.toggle { display: block; position: relative; cursor: pointer; -webkit-touch-callout: none; -webkit-user-select: none; user-select: none; }
	#toggle:checked + div .menux { display: block; opacity: 1;}


}







.menux .nav{
	display: block;
	float: right;
}

.menux{
	float: right;
    padding-right: 20px;
}

.menux .nav, .menux, .menux > li, .menux > li > a{
	height: 100%;
}

.menux > li > a{
	display: block;
	padding: 13px 20px;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-size: 16px;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;
}

.menux > li > a:hover, .menux > li > a:focus{
	background: #F2F2F2;
	box-shadow: inset 0px 5px #F0642D;
	color: #333;
	padding: 10px 20px 13px;
}

.toggle{
	z-index: 2;
   float: right;
}

@media only screen and (max-width: 768px){
	.menux{
    margin-top: 75px;
		background: #275362;
		border-top: 1px solid #F0642D;
	}

	.menux, .menux > li, .menux > li > a{
		height: auto;
	}

	.menux > li > a{
		padding: 15px 35px;
	}

	.menux > li > a:hover, .menux > li > a:focus{
		background: #F2F2F2;
		box-shadow: inset 5px 0px #F0642D;
		padding: 15px 15px 15px 45px;
	}

	.toggle:after {
		content: attr(data-open);
		display: block;
		width: 200px;
		margin: 33px  10px;
        float: right;
		padding: 10px 50px;
		background: #F0642D;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		font-size: 12px;
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	.toggle:hover:after{
		background: #45ABD6;
	}

	#toggle:checked + div .toggle:after{
		content: attr(data-close);
	}
}

@media only screen and (max-width: 479px){
	.header > h1 {
		text-align: center;
	}
	.header > h1, .nav, .toggle:after{
		float: none;
	}
	.toggle:after {
		text-align: center; width: 100%;
	}
}




/*======================      sacial media   ===============================*/




.footer-social-icons {
	width: 98%;
	display:block;
    margin: 0 auto;

}

.social-icon {
	color: #fff;
}

ul.social-icons {
	float: right;
	margin-top: -45px;

}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	color: #fff;
	text-decoration: none;
}


.fa-facebook {
	padding:10px 14px 7px 14px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    font-size: 1.5em;
  	//background-color: #ccc;
    border-radius: 2px;
}

.fa-facebook:hover {
	background-color: #3d5b99;color: #fff;
}

.fa-twitter {
	padding:10px 10px 7px 10px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    font-size: 1.5em;
    border-radius: 2px;
  	//background-color: #ccc;
}

.fa-twitter:hover {
	background-color: #00aced;color: #fff;
}



.fa-youtube {
	padding:10px 12px 7px 11px;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	transition: .5s;
    font-size: 1.5em;
    border-radius: 2px;
  	//background-color: #ccc;
}

.fa-youtube:hover {
	background-color: #e64a41;color: #fff;
}


/*=====================================================*/





/***********************************************simple carousel****************************/


/* MARKETING CONTENT
-------------------------------------------------- */
/* Featurettes
------------------------- */



.col-md-5 #box1{max-height: 210px; width: 94%; overflow: hidden; display: block; clear: both; text-align: justify; }
.col-md-5 #box2 {max-height: 210px; width: 94%; overflow: hidden; display: block; clear: both; text-align: justify;}

#pincipale_c{ margin-left: 20px; width: 97%; margin-right: 20px; margin-top: 5px; text-align: justify;display: block; clear: both;}

footer{ margin-left: 0px;  margin-right: 10px; display: block; clear: both;}

.col-md-5 #box1 img{display: none;}
.col-md-5 #box2 img{display: none;}




.featurette p img{  margin: 1px 5px;
					border-radius: 3px;
                    max-width: 550px;
                    max-height: 300px;
					width: 100%;
                    height: 100%;
                   //object-fit: scale-down;
                    object-fit: cover;
	}




.featurette-divider {
  margin: 0; /* Space out the Bootstrap <hr> more */
}


.featurette .col-md-7, .featurette .col-md-5  {
  margin: 0;
  padding: 0;

}



/* Thin out the marketing headings */


.featurette-heading {
  font-weight: 500;
  padding: 5px;
  line-height: 1;
  color: #F37121;
  font-family: "Open Sans",Arial,sans-serif;
  background: #E6F2F9;
  text-align: justify;
  border-radius: 2px;
}

.featurette p {

    text-align: justify;
    color: #656565;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.6em;



  }
 #md-7 h1, #md-7 h2, #md-7 h3,#md-7 h4,#md-7 h5,#md-7 h6 {
    font-size: 13px;
  }




/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */



  .featurette-heading {
    font-size: 20px;
  }
  .featurette p {
    font-size: 13px;
    color: #333;
  }

}



@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;
  }
}



			/*================================================================================================*/
/*================================================================================================*/
