/*
 * © 2015 LOGIPAM services / www.logipam.com siges@logipam.com et contributeurs (voir www.logipam.com)
 *
 * This file is part of SIGES.

    SIGES is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License.

    SIGES is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with SIGES.  If not, see <http://www.gnu.org/licenses/>.
 *
 */




 .navbar-inverse .navbar-inner {

    border-bottom: 3px solid  #ee642f ;
    background: #b9ccde url(images/sigeslogo1.png);
    background-position:30px 2px;
    background-size: 35px 35px;
    background-repeat: no-repeat;
    height: auto;
    -webkit-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
  		-moz-box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
 		box-shadow: 0px 10px 21px -10px rgba(0,0,0,0.61);
 }

 							.navbar-inverse .brand,.navbar-inverse .nav>li>a,
 							.navbar-inverse .brand:hover,.navbar-inverse .nav>li>a:hover
                {color:#00273f;}
                .nav-collapse li a:focus, .nav-collapse .dropdown-toggle li:focus,
                .nav-collapse .fa:active, .nav-collapse .dropdown-toggle:active,
                .nav-collapse .fa:hover, .nav-collapse .dropdown-toggle:hover,
                .navbar-inverse .nav>li>a:focus *,.navbar-inverse .nav>li>a:hover,
                .navbar-inverse .nav>li>a:active{
 						     color:#FFF;
 							   background-color:#F0652F;
 							}
              .navbar-inverse .brand:hover, .navbar-inverse .nav > li > a:hover, .navbar-inverse .brand:hover:hover, .navbar-inverse .nav > li > a:hover {
                  color: #FFF;
              }

 							.navbar-inverse .nav .active>a,.navbar-inverse .nav .active>a:hover,.navbar-inverse .nav .active>a:focus{color:#fff;background-color:#F0652F}
              .navbar-inverse .navbar-link{color:#fff}.navbar-inverse .navbar-link:hover{color:#fff}.navbar-inverse .divider-vertical{border-right-color:#222;border-left-color:#111}.navbar-inverse .nav li.dropdown.open>.dropdown-toggle,.navbar-inverse .nav li.dropdown.active>.dropdown-toggle,.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle{color:#fff;background-color:#e9eff6}
              .navbar-inverse .nav li.dropdown>.dropdown-toggle .caret{border-top-color:#999;border-bottom-color:#999}.navbar-inverse .nav li.dropdown.open>.dropdown-toggle .caret,.navbar-inverse .nav li.dropdown.active>.dropdown-toggle .caret,.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle .caret{
 								border-top-color:#fff;border-bottom-color:#fff}


.navbar-inverse .nav .active>a,.navbar-inverse .nav .active>a:hover,.navbar-inverse .nav .active>a:focus{color:#;background-color:#ff0000}
.navbar-inverse .navbar-link{color:#}.navbar-inverse .navbar-link:hover{color:#}.navbar-inverse .divider-vertical{border-right-color:#222;border-left-color:#111}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    color: #fff;
    background-color: #f14f24;
}
.navbar-inverse .nav li.dropdown>.dropdown-toggle .caret{border-top-color:#999;border-bottom-color:#999}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle .caret,.navbar-inverse .nav li.dropdown.active>.dropdown-toggle .caret,.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle .caret{ border-top-color:#fff;border-bottom-color:#}
.navbar-inverse .navbar-search .search-query{ color:#;background-color:#;border-color:#111;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),0 1px 0 rgba(255,255,255,0.15);-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}


.box-header{
    background: #ECF0F5;
    box-shadow:0 1px 1px #ccc;
}
.box-header, #index_dash h2 {
    //color: #0070A5;
    color: #68717d;
}
.box2{

	background:#ffffff;
	border-top:1px solid #EE6539;
	box-shadow:0 1px 1px rgba(0,0,0,0.1);
}
/*====================     buttons    =====================*/

#dash .span4, #dash .span4 a, .btn-warning, .btn-info, #export-button {
    color: #fff;
    background-color: #51627d;
    padding: 5px;
}
.pagination li.active,.pagination li.active a{
  background-color: #51627d;
  color: #fff;
}

.pagination li.active,.pagination li.active a{
  background-color: #51627d;
  color: #fff;
}
.side_label label, .side_label label a{
  background:#f14f24;
  color: #fff;
}
#dash .span4:hover{
    color: #fff;
    opacity: 0.8;
}
#dash h2 {
    color: #f36903;
}

.nav_side ul {
    color: #Fff;
    background: #D0DBE9;
    border-right:1px solid #D4D9E0;
}
.nav_side a {

    color: #283039;
    font-size: 15px;
    font-weight: normal;

}
/*========================h2 side menu title =================================*/
.nav_side li, #dash h2 {
    color: #4b606b;
}
/*========================End h2 side menu title =================================*/
 /*.nav_side li a {
    color: #000;
}*/
.nav_side a:hover{
	text-decoration: none;
    background: #E4E9EF;

}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #00273f;
    border-bottom-color: #fafbfc;
    margin: 16px 5px;
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
    background-color: #F0652F;
    color: #fff;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #F0652F;
    -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
.nav-collapse .fa, .nav-collapse .dropdown-toggle {
    color: #20486f;
    font-size: 1.2em;
    padding: 10px 0;
}
div.search-form {
    background: #B9CCDE;
  }
