.bg-secondary {
    background-color: #2d6450 !important;
    border-bottom: 4px solid #73f9a4;

}

.school_name, .school_devise {
    color: #fff;
}
.pawol{
  padding-right: 20px;
}
.fotoyo {
    background: none;
    width: 100%;

}
.container-fluid {
    width: 100%;
    max-width: 1250px;
    padding-right: 0;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding-top: 20px;
}
.gallerie {
    max-width: 1250px;
    margin: 0 auto;
}

@media only screen
  and (min-device-width: 1025px)
  and (-webkit-min-device-pixel-ratio: 2) {
.carousel-inner {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #f2f2f2;
}
}
.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    opacity: 0.8;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #73f9a4;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
    font-size: 1.1rem;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: ;
    font-weight: 100;
    letter-spacing: 0px;
    font-style: normal;
}
@media (min-width:992px){
  header.masthead {
      padding-top: 0;
      padding-bottom: 0rem;
  }
  .non_lekol {
    border-right: 2px solid #386681;
    padding-right: 20px;
    float: left;
    color: #fff;
    line-height: 1.2;
}

.team {
    flex: 0 0 50%;
    max-width: 48%;
    border-top: 1px solid #73f9a4;
    background: #f5f5f5;
    padding: 0;
    margin-left: 15px;
}
.heading .col-lg-7, .heading .col-md-7 {
    max-height: 130px;
    overflow: hidden;
    padding-top: 10px;
    padding-right: 20px;
    color: #000;
}



}
/*================  ======   THeme nou ta sipoze chwazi a sa se zaboka ====================== ===========*/

.back > .album_name {
    color: #2d6450;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
}
body #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #73f9a4;
    border-bottom: 3px solid #73f9a4;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #FFC600;
    border-bottom: 3px solid #FFC600;
}

a,.container-fluid-top .h3, .container-fluid-top h3, a:active, a:focus, a:hover {
     color: #2F6BAE;
     text-decoration: none;
 }

.heading h3, .heading h3 a{
  color: #2d6450;
}
footer {
    background-color: #585858;
    border-top: 10px solid #73f9a4;


}
@media (min-width:993px){
  footer {
    background-color: #585858;
    border-top: 10px solid #2d6450;
    //background: #585858 url(../images/sigeslogo.png);
    //background-position: 100px 65px;
    //background-size: 80px 80px;
    background-repeat: no-repeat;
}
}
/*
@media (max-width:992px){
  footer {

      background-color: #585858;
      border-top: 10px solid #73f9a4;
      background: #585858 url(../images/sigeslogo.png);
      background-position: 50% 5px;
      background-size: 60px 60px;
      background-repeat: no-repeat;
      padding-top: 75px;
  }
}*/

.list-unstyled li, .list-unstyled li a{
  padding-bottom: 9px;
}
.container-fluid-top h1, .container-fluid-top h1 {
    //color: #73f9a4;
}
.container-fluid-top h1, .container-fluid-top h1,.container-fluid-top .pawol h3. .container-fluid-top .pawol h3 a {
    border-bottom: 1px solid #7e8c7e;

}
.heading h3, .heading h3 a, .sidenav h5, .sidenav h4, .sidenav h3,.sidenav h5 a, .sidenav h4 a, .sidenav h3 a, {
  color: #73f9a4;

}
.container-fluid-top .h3, .container-fluid-top h3  {
    font-size: 17px;
    font-weight: 500;
}
.sidenav {
  padding-top: 20px;
  background-color: #f5f5f5;
}



.subFooter  hr {

    border-top: 1px solid #fff;
    opacity: 0.3;
    margin: 2px;


}

.subFooter h4, .subFooter .h4 {

    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px dotted #73f9a4;
    padding: 5px;

}
.subFooter .unstyled {
  background-color: #6e6c69;
border: 1px solid #918f8c;
border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
margin-bottom: 20px;
min-height: 20px;
padding: 15px;
text-align: center;
}
.subFooter .unstyled p{
text-align: center;
}
.subFooter .unstyled img, .subFooter .unstyled img a,  .subFooter .social_media {
    margin: 10px auto;
    display: block;

}
.subFooter .unstyled  span {
    color: #fff;
    text-align: justify;
    font-weight: 200;
    font-size: 15px;
}

.team p::after {
    content: '';
    position: absolute;
    width: 1.125rem;
    height: 3.75rem;
    top: 50%;
    right: .625rem;
    margin-top: -.9375rem;
}
.bottom-color .title {
    border-bottom: 3px solid #73f9a4;
    color: #2d6450;
}


.row-striped:nth-of-type(2n) {
    background-color: #e2e9f2;
    border-left: 4px #2d6450 solid;
}
.badge-secondary {
    color: #fff;
    background-color: #2d6450;
    width: 50px;
    padding: 18px 5px;
    height: 50px;
}
.sidenav #title, .sidenav #title a {
    color: #2d6450;
    text-align: left;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
}

.sidenav li .fa, .sidenav li .fas {
    color: #73f9a4;
    margin-left: 15px;
}

.ti-karakte li .fa,.ti-karakte  li .fas {
    color: #333;
    margin-left: 15px;
}

.subFooter .fa, .subFooter .fas, .social_media a {
    //color: #85e772;
    color: #73f9a4;
    margin-right: 5px;
}
.social_media a{

  color: #85e772;
  margin-right: 5px;
  padding: 9px 8px 4px 8px;
  border-radius: 2px;

}
.social_media a:hover{
    color: #000;
}
.social_media {
    color: #fff;
    font-size: 20px;
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}
.social_media a {

    margin: 10px;
    background: #73f9a4;
    color: #fff;
    padding: 9px 8px 4px 8px;
    border-radius: 2px;
    background-color: #6e6c69;
    border: 1px solid #918f8c;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    text-align: center;
  }
  .list-group a, list-group p{
    color: #333;
  }
  .list-group a:hover, list-group p:hover{
    color: #73f9a4;
  }
.login-container{
  padding-top: 80px;
  margin-top: -17px;
  background:  url(../images/sigeslogo.png);
  background-position: top center;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  height: auto;
}
.login-container #login-form button, .login-container #login-form input, .login-container #login-form optgroup, .login-container #login-form select, .login-container #login-form textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 5px auto;
    float: left;
    align-content: center;
    display: block;
    width: 100%;
}

/*============================== mobile DEVICES =================================*/
@media screen and (max-width: 667px)
{

.login-container {
    position: absolute;
    width: 100%;
    min-width: 350px;
    height: 470px;
    margin-top: -420px;
    margin-left: -30px;
    margin-right: 10px;
    padding-top: 85px;
    padding-right: 100px;
    background:  #333 url(../images/sigeslogo.png);
    background-position: top center;
    background-size: 80px 80px;
    background-repeat: no-repeat;
    border-radius: 5px;
  }


}
@media (min-width: 992px) and (max-width: 1199px) {

  .navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0rem;
    line-height: inherit;
    white-space: nowrap;
}
.non_lekol {
    padding-right: 10px;
    float: left;
    color: #fff;
    line-height: 1.2;
}
.school_name {
    font-size: 16px;
    font-weight: 300;
    float: left;
    width: 100%;
    display: block;
    max-width: 300px;
}
.school_devise {
    font-size: 12px;
    font-weight: 100;
    width: 100%;
    display: block;
}
.img-fluid {
    max-width: 100px;
    height: auto;
    margin: 0 10px 0 0;
    padding: 5px;
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.team {
    flex: 0 0 50%;
    max-width: 48%;
    padding: 0;
    margin-left: 15px;
}

}

@media  (max-width: 1024px) {


           #page-top/*, #mainNav*/ {
               width: 100%;
               min-width: 100%;

           }
           #mainNav .container {
           width: 100%;
        }
        .img-fluid {

           max-width: 60px;
           height: auto;
           margin: 0;
           padding: 5px;
           background: none;
           float: left;

        }
           .non_lekol {
           float: left;
           width: 60%;
        }
        #mainNav .navbar-toggler {

           font-size: 1rem;
           padding: 0.3rem 0.5rem;
           margin-right: 5px;

        }
        .school_name {
        font-size: .9rem;
        font-weight: bold;
        }
        .school_devise{
        font-size: .6rem;
        font-weight: 400;
        }
        header.masthead {
           padding-top: calc(6rem + 72px);
           padding-bottom: 0rem;
        }
        .carousel-inner {
           position: relative;
           width: 100%;
           overflow: hidden;
           height: 300px;
        }
        .carousel-item{
        width: 100%;
        object-fit: cover;
        min-height: 300px;
        }
        .carousel-inner img {
           position: relative;
           width: 100%;
           object-fit: cover;
           height: 300px;
        }
        .team {
           flex: 0 0 100%;
           border-top: 1px solid #73f9a4;
           background: #f5f5f5;
           padding: 0;
           margin: 15px 0;
           float: left;
        }
        .heading .col-lg-7, .heading .col-md-7 {
           max-height: 130px;
           overflow: hidden;
           padding: 20px;
           color: #000;
           font-size: 0.8rem;
        }
        header.masthead {

           padding-top: 0px;
           padding-bottom: 0rem;

        }
        .img_article {

           width: 100%;
           object-fit: cover;
           height: 180px;
           overflow: hidden;
           margin-bottom: 20px;

        }
        .pawol img, .pawol span img {

           padding: 0px;
           border-radius: 2px;

        }
        .navbar-nav .dropdown-menu {

           position: static;
           float: right;
           width: 100%;
           background: #333;

        }
        #mainNav .navbar-nav li.nav-item a.nav-link {
           color: #fff;
        }
        .dropdown-menu li {
           text-align: left;
           float: right;
           width: 10 0%;
           color: #fff;
           border-bottom: 1px solid #ffffff;
           text-align: left;
           border-bottom: 1px solid #a6a4a2;
           background: #333 url(images/menulinkarrow.png) repeat;
           float: left;
           width: 100%;
        }
        #login-form button, #login-form input, #login-form optgroup, #login-form select, #login-form textarea {

            margin: 0;
            font-family: inherit;
            font-size: inherit;
            line-height: inherit;
            width: 120%;
            min-width: 200px;

        }
        .navbar-collapse {
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -ms-flex-positive: 1;
            flex-grow: 1;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 5px;
        }



}
