/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 23, 2018, 12:46:02 PM
    Author     : jcppoulard
*/

.pagination {
    display: inline-block;
}

.pagination a {
    float: left;
    padding: 3px 10px;
    text-decoration: none;
}

.pagination a.active, .pagination a:focus {
    color: #fff;
}

.pagination li.active, .pagination li.focus {
    //background-color: #F06833;
    color: #fff;
}

.html5buttons {
    display: inline-block;
    width: 150px;
    height: 25px;
    margin: 10px;

}
.dataTables_length {
    display: inline-block;
    width: 150px;
    height: 25px;
    margin: 10px;


}

.dataTables_filter {
    display: inline-block;
    width: 150px;
    height: 25px;
    margin: 10px;
    /*border: 3px solid #73AD21;*/
}

.pagination a:hover:not(.active) {background-color: #ddd;}
