
body{

  font-family: "Roboto Condensed",sans-serif;
    font-weight: 300;
}

/* For Social Wrapper */
.social {
    padding: 10px 5%;
    z-index: 11111;
}

.social > .container{
    height: 15px;
    padding: 0px;
      z-index: 11111;
}
.social-wrapper .social-icon a{
    float:left;
    font-size:13px;
    color:#fff;
}
.social-wrapper .social-icon a:hover, .social-wrapper .social-icon a i:hover, .social-wrapper .social-contact a:hover{
    color:#3AA0DD;
    background: none;
}
.social-wrapper .social-icon a i {
    padding: 3px 10px;
    font-size: 15px;
}

.social-wrapper .social-contact{
    float:right;
    font-size:small;
}
.social-wrapper .social-contact a {
    color: #ffffff;
    margin-right: 20px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0;
    background: none;
    font-size: 12px;
    font-weight: lighter;
}

.social-wrapper .social-contact a i{
    padding-right:5px;
}

.footer-social-icons {
	width: 98%;
	display:block;
    margin: 0 auto;
    font-family: "Open Sans",Arial,sans-serif;

}

ul.social-icons {
	float: right;
	//margin-top: -45px;
}

.social-icons li {
	vertical-align: top;
	display: inline;
}

.social-icons a {
	text-decoration: none;
}


.fa-youtube, .fa-twitter, .fa-facebook, .fa-google-plus, .fa-linkedin {
	padding:3px 100px 8px 8px ;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	font-size: 15px;
  	font-weight: bold;
  	transition: .5s;
  	border-radius: 2px;

}


.social-icons a, .social-icon {
	color: #fff;
}




/*======================    end  sacial media   ===============================*/


.navbar-inverse {
    background-color: #34678a;
    border-bottom-color: #34678a;
    border-left-color: #34678a;
    border-right-color: #34678a;
    border-top-color: #34678a;
}

.navbar {
    border-radius: 0px;
    border-radius: none;
    z-index: 111;

}

.navbar {
    position: relative;
    min-height: 70px;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 4%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #fff;
}
.navbar-default {
    background-color: #f8f8f8;
    border-color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #3AA0DD;
}
.navbar-inverse .navbar-nav > li > a:active {text-decoration: underline;}

.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-nav > li > a {
    padding: 3px 9px;
    padding-top: 8px;
    line-height: 20px;
    font-size: 16px;
    display: block;
    position: relative;
    letter-spacing: -0.6px;
}

.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    margin-bottom: 0px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
    max-width: 1540px;
    overflow-x: visible !important;
    overflow-y: visible !important;
    padding-bottom: 0;
}

.content_h {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    margin-top: -20px;
}

#im_top {
    background-attachment: scroll;
    background-clip: border-box;
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    display: inline-block;
    float: left;
    width: auto;
    max-width: 300px;
    max-height: 250px;
    padding-bottom: 5px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 15px;
}

#im_top img {
    float: none;
    background: transparent;
    margin-top: -37px;
    height: auto;
    position: relative;
    float: left;
    object-fit: contain;
    overflow: hidden;
    height: auto;
    max-height: 100px;
    max-width: 190px;
}



<!-- ==============   slideshow css    ================-->

#rotating-item-wrapper {
	position: relative;
	width: 980px;
	height: 347px;
}
.rotating-item {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
#myslide {
    width: 100%;
    height: 500px;
    margin: 0px auto;
    z-index: -11111;
}

#myslide img {
  width: 100%;
  height:500px;
  object-fit: cover;
  z-index: -11111;
}
.img-rounded {
    border-radius: 0px;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 11111;
  padding-top: 10px;
  padding-bottom: 30px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background: #000;
  border-radius: 3px;
  opacity: 0.5;
}
<!-- ==============   login css    ================-->


@import url('/bootstrap.min.css');
/* Fixed navbar */

/* General sizing */
ul.dropdown-lr {
    width: 180px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr label {
		color: #eee;
	}
}





/**** ============================= CMS color ===================================== ****/


ul.topnav {
	background-image: linear-gradient(to bottom, #014376 0%, #539DC8 150%);
    background-repeat: repeat-x;
    margin-bottom: 0px;
	}


#im_top_s a, #im_top_d { color: #fff; }



#im_top_s { color: #fff; }
#im_top_d { color: #d9d6d7; }




/*
footer {
    background-image: linear-gradient(to bottom, #014376 0%, #539DC8 100%);
    background-repeat: repeat-x;
    //border-top: 4px solid #ddd;
    color: #fff;
    }



footer a, footer .subFooter a, .subFooter a   {
   color: #fff;
}


footer ul li a:hover{
   border-bottom: 1px dotted #bbb;


}



footer .subFooter {
    border-top: 1px solid #ddd;
    color: #fff;
}
*/

.subFooter a, .subFooter a   {
   color: #fff;
}


.subFooter ul li a:hover{
   border-bottom: 1px dotted #bbb;


}



.subFooter *{
    color: #fff;
    text-align: justify;
}

body a:hover,footer .subFooter a:hover, footer .subFooter a:focus, footer a:hover, footer a:focus  {
    color: #bbb;
   // border-bottom: 1px dotted #bbb;
    text-decoration: none;
}

.subFooter a:hover,.subFooter a:focus {
    color: #bbb;
   // border-bottom: 1px dotted #bbb;
    text-decoration: none;
}

//footer h4 { border-bottom: 1px dotted #bbb;}





/*=============================================== Pagination CMS =====================================================*/



.paj {
    border-radius: 4px;
    display: inline-block;
    margin: 2px 25px;
    padding-left: 0;
}
.paj > li {
    display: inline;
}
.paj > li > a, .paj > li > span {
    background-color: #d3d4d4;
    border: 1px solid #fff;
    color: #1A5F8F;
    height: 25px;
    float: left;
    line-height: 1.6;
    margin-left: -1px;
    padding: 0px 10px;
    position: relative;
    text-decoration: none;
}
.paj > li:first-child > a, .paj > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin-left: 0;
}
.paj > li:last-child > a, .paj > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}


.paj > li > a:hover, .paj > li > span:hover, .paj > li > a:focus, .paj > li > span:focus {
    background-color: #eee;
    color: #23527c;
    z-index: 2;
}
.paj > .active > a, .paj > .active > span, .paj > .active > a:hover, .paj > .active > span:hover, .paj > .active > a:focus, .paj > .active > span:focus {
    background-color: #1A5F8F;
    color: #fff;
    cursor: default;
    z-index: 3;
    border-radius: 2px;
}
.paj > .disabled > span, .paj > .disabled > span:hover, ..paj > .disabled > span:focus, .paj > .disabled > a, .paj > .disabled > a:hover, .paj > .disabled > a:focus {
    background-color: #fff;
    color: #777;
    cursor: not-allowed;
}







/**** ============================= END CMS color ===================================== ****/






body {margin:0; min-height: 500px; text: -111111;}


.container{

		max-width: 100%;
		//width: 98%;
		padding: 0px;
		text: -11;

		}


.site_min{

		min-height: 500px;
		text: -1;
		margin-top: 0px;
		padding: 0;

		}


    .featurette	.col-md-12 {
    margin: 13px auto;
    width: 95%;
    padding-left: 5%;
}
.featurette-divider{ margin: 2px 0; }

.row featurette { margin: 305px 0; }


select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 3px;
    color: #555;
    display: inline-block;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    margin-bottom: 3px;
    padding: 1px 3px;
}

.btn {
    -moz-user-select: none;
    background-image: none;
    white-space: pre;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;   margin-top: 15px;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;

}



.row h9 { font-size: 10px;}


.row .col-md-7 { height: 420px; overflow: hidden; }
.row .col-md-5 { height: 420px; overflow: hidden; padding-left: 20px;}


//#slid_head{  width:100%; z-index: -1111; }

#map_contact{padding-top: 30px;}

	ul.topnav {
	  list-style-type: none;
	  margin-top: -10px;
	  padding: 0 9%;
	  overflow: hidden;
	  float: right;
	  text: 111111;
	  width: 100%;
	}


	ul.topnav a{
	  list-style-type: none;
	  margin: 0;
	}



	ul.topnav li {float: left;}

	ul.topnav li a {
	  display: inline-block;
	  text-align: center;
	  padding: 8px 15px;
	  text-decoration: none;
	  transition: 0.3s;
	  font-size: 14px;
	  font-weight: 400;
	}


	ul.topnav li.icon {display: none;}


	.top_m {

	  float: right;
	  text: 11111;

	}
  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
      background-color: none;
  }
  .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
      background-color: none;
  }
.dropdown-toggle:focus {
    background-color: none;
  }
/*

#l_right{

    background:  url(../images/school_logo_2.png) no-repeat transparent right top ;
	background-size: auto 100%;
	//object-fit: scale-down;
    margin-top:4px;
	margin-bottom:5px;
    height: 114px;
    float: right;
    //object-fit: cover;
    object-fit: scale-down;
    overflow: hidden;
    width: 140px;


	}
*/



#l_center {
    text-align: center;
    float: left;
    display: block;
    width:100%;
}

#l_center h2 {
    display: block;
    margin: 1px 0 0 0;
    font-size: 36px;
}
 #l_center h4 {
	display: block;
	font-weight: 100;
  margin: 1px;
	}

#l_center p{ text-align:center }

.pull-center {
    text-align: center;
    opacity: 0.3;
    padding: 15px;
}

#navbar-right{
  margin-top: 20px;
  float: right;
}


.content_h{
	display: block;
    float: left;
    height: auto;
    min-height: 130px;
    padding: 0 5%;
    margin-left: 0px;
    left: 0px;
    font-size: 30px;
    text-align: right;
    width: 100%;

}

.content_h .row {
	display: block;
    padding: 0 5%;
    width: 100%;
    max-width: 1270px;

}

.top_m{
	display: block;
    padding: 0 5%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;


}

.container, .content_h .row {
    margin-left: auto;
    margin-right: auto;
}

ul.topnav {
    margin-left: auto;
    margin-right: auto;
}

.nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
    float: left;
}

ul.topnav .container{

		max-width: 100%;
		padding: 0px;

		}



	/*================  footer =======================*/


footer {
    font-size: 12px;
    width: 100%;
    margin-top: 0px;

}
footer .footerWrap {
    padding-bottom: 15px;
    padding: 2% 4%;
}

footer .footerWrap .row{
    width: 100%;
}


footer h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px;
    text-align: left;
    padding-bottom: 2px;
    text-decoration: underline;
    text-decoration-style: dotted;
    }
footer ul {
    margin: 0;
}
footer ul li{
    margin: 0px;
    display: block;
    width: 100%;
    line-height: 1.6;
    font-weight: 100;
}

#im_foot img {
    width: 90px;
    height: auto;
    margin: 10px auto;
    max-height: 100px;
    object-fit: scale-down;
    padding: 3px;
}

footer a {
   font-size: 12px;
    line-height: 1.6;
    font-weight: 100;
}

footer .subFooter {

    padding: 12px 0;
}

footer .subFooter ul {
    list-style: outside none none;
    margin: 0;
    padding-right: 40px;
}
footer .subFooter ul > li {
    float: left;
    text-align: justify;
    line-height: 1;

}
footer .subFooter ul > li {
    display: block;
    margin: 0;
    position: relative;
}
footer .subFooter ul > li a {
   // margin-left: 15px;
}



/*=============================================== loggin form CMS =====================================================*/
/*

#logo

	{
	float: left;
	overflow:hidden;
    background:  url(../images/logo.png) no-repeat left top #fff;
	background-size:100% 100%;
	width:143px;
	height:40px;
	margin:10px;
	border-radius: 5px;
	margin: 10px 15%;
 }
.radius_title input[type="submit"],.radius_title input[type="button"]
   {
    width: 93%;
    height: 23px;
    border-radius: 2px;
    outline: none;
    background: #d7d7d7;
    border: 1px solid #d7d7d7;
   }



fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

input:focus,textarea:focus {
  outline: none;
}

/*----------------------*/

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}

/*----------------------*/


#login {
  float: left;
  right: 10px;
  text: 99999999;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#login #login-trigger,
#login #signup a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-decoration: none;
  text-shadow: none;
}


#login #login-trigger {
  -moz-border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}



#login #login-content {

  display: none;
  position: fixed;
  top: 157px;
  right: 10px;
  text: 99999999;
  padding: 15px;
  right: 10px;
  width: 250px;
  z-index: 1111111;
  box-shadow: none;
  -moz-border-radius: 3px 0 3px 3px;
  -webkit-border-radius: 3px 0 3px 3px;
  border-radius: 3px 0 3px 3px;
}



/*--------------------*/

#inputs input {
  padding: 15px 5px;
  margin: 0 0 5px 0;
  font-size: 12px;
  line-height: 2;
  width: 100%;
  display: block;
 -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
   text: 1111111;

}



#inputs input:focus {
  outline: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
   text: 1111111;
}

/*--------------------*/

#login #actions {
  margin: 10px 0 0 0;
  text: 99999999;
}

#login #submit {
  background-color: #bf4c24;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d46a15), to(#bf4c24));
  background-image: -webkit-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -moz-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -ms-linear-gradient(top, #d46a15, #bf4c24);
  background-image: -o-linear-gradient(top, #d46a15, #bf4c24);
  background-image: linear-gradient(top, #d46a15, #bf4c24);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #EF642E;
  float: left;
  height: 30px;
  padding: 0;
  width: 100px;
  cursor: pointer;
  font: bold 14px Arial, Helvetica;
  color: #efefef;
}

#login #submit:hover,
#login #submit:focus {
  background-color: #d79800;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf4c24), to(#d46a15));
  background-image: -webkit-linear-gradient(top, #bf4c24, #d46a15);
  background-image: -moz-linear-gradient(top, #bf4c24, #d46a15);
  background-image: -ms-linear-gradient(top, #bf4c24, #d46a15);
  background-image: -o-linear-gradient(top, #bf4c24, #d46a15);
  background-image: linear-gradient(top, #bf4c24, #d46a15);
  text: 99999999;
}

#login #submit:active {
  outline: none;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
  border: none;
}

#login label {
  float: right;
  line-height: 30px;
}

#login label input {
  position: relative;
  top: 2px;
  right: 2px;
}



*/

/***********************************************simple carousel****************************/


/* MARKETING CONTENT
-------------------------------------------------- */
/* Featurettes
------------------------- */


/*--------------------*/
#box1-box2 {
    width: 100%;
    margin: 30px auto 10px;
    height: auto;
    padding: 0 0 5px;
}

#box1-box2 #box1 i, #box1-box2 #box2 i,#box1-box2 #box3 i {
    text-align: justify;
    font-size: 2em;
    margin: 10px 5px -15px 45%;
}


#box1-box2 .featurette-heading {
    padding: 2% 5%;
    font-size: large;
    font-weight: normal;
    text-align: left;
    margin: 0;
}

#box1-box2 h2{
    font-size: 22px;
    text-align: left;

}
#box1-box2 p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.3;
    margin: 0px;
}

#box1-box2 #box1, #box1-box2 #box2, #box1-box2 #box3{ max-height: 310px;  overflow: hidden; display: block; float: left;; text-align: justify; }


#pincipale_c{ margin-left: 20px; width: 97%; margin-right: 20px; margin-top: 5px; text-align: justify;display: block; clear: both;}

footer{ margin-left: 0px;  margin-right: 10px; display: block; clear: both;}

.col-md-5 #box1 img, .col-md-5 #box2 img, .col-md-5 #box3 img, #box1 .html5-video-container, #box2 .html5-video-container, #box3 .html5-video-container {display: block; width: 96%}




.featurette .col-md-7, .featurette .col-md-5  {
  margin: 0;
  padding: 0;

}



/* Thin out the marketing headings */


#.featurette-heading {
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 0px;
  line-height: 1;
  font-family: "Open Sans",Arial,sans-serif;
  text-align: justify;
  border-radius: 2px;
}


 #md-7 h1, #md-7 h2, #md-7 h3,#md-7 h4,#md-7 h5,#md-7 h6 {
    font-size: 13px;
  }



.comment_more {
    width: 100%;
    min-height: 300px;
    font-size:15px;
    font-weight: normal;

}
.featurette p {
    text-align: justify;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
}

   .featurette p *, .featurette span{
      text-align: justify;
       font-family: "Open Sans",Arial,sans-serif;
       font-size: 16px;
     }
     .featurette img, .featurette span img {
         margin: 5px;
         max-width: 550px;
         max-height: 500px;
         object-fit: contain;
     }

     .featurette-heading  {
       margin: 5px
     }

 #md-7 h1, #md-7 h2, #md-7 h3,#md-7 h4,#md-7 h5,#md-7 h6 {
    font-size: 13px;
  }

  #box1-box2  img{
    display: block;
    width: 100%;
    height: 170px;
    object-fit: cover;
    margin: -1px auto 10px;
 }
 #box1-box2  p a{
   margin-left: 15px;
   text-align: right;
   font-weight: bold;
 }

 #box1-box2 #box1 i, #box1-box2 #box2 i,#box1-box2 #box3 i {
     text-align: justify;
     font-size: 2em;
     margin: 10px 5px -15px 45%;
 }


 #box1-box2 .featurette-heading {
     padding: 1%;
     font-size: large;
     font-weight: normal;
     text-align: left;
     width: 96%;
     margin: 10px auto 5px;
     font-size: 16px;
 }

 #box1-box2 h2{
     font-size: large;
     text-align: left;

 }
 #box1-box2 p {
     text-align: justify;
     font-size: 15px;
     line-height: 1.5;
     margin: 0px;
 }
 #box1-box2 p a{

     font-size: 15px;
     line-height: 1.5;

 }
 #box1-box2 #box1, #box1-box2 #box2, #box1-box2 #box3{ max-height: 310px;  overflow: hidden; display: block; float: left;; text-align: justify; }

/* RESPONSIVE CSS
-------------------------------------------------- */

iframe {
max-width: 530px;
max-height: 300px;
float: left;
margin: 5px 10px;
}





@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;
  }
  }




@media screen and (max-width:900px) {
	  ul.topnav li:not(:first-child) {display: none;}
	  ul.topnav li.icon {
	    float: right;
	    display: inline-block;
	  }
	}

	@media only screen and (max-width: 1000px){
	 body {
    padding: 0;
    margin:0;
     }
	  ul.topnav.responsive {position: relative;}
	  ul.topnav.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }

	 .top_m {
	  margin-top: 5px;
	  display: block;

	}


#im_top img{

    display: inline-block;
    height: 70px;
    object-fit: scale-down;
    overflow: hidden;
    width: 70px;
    //margin:10px 35% -10px 35%;
    position: relative;
    left: 5%;
    top: 10px;
	}


#l_right {
    background: transparent url("../images/school_logo_2.png") no-repeat scroll right top / auto 100%;
    float: right;
    height: 70px;
    margin-bottom: 5px;
    object-fit: scale-down;
    overflow: hidden;
    position: relative;
    right: 5%;
    top: 10px;
    width: 70px;

}

#l_center{ width: 76%; display: inline-block;}





	  ul.topnav.responsive li {
	    float: none;
	    display: inline;
	  }
	  ul.topnav.responsive li a {
	    display: block;
	    text-align: left;
	  }

			footer {
			    text-align: center;
			}
			footer .footerWrap ul {
			    margin-bottom: 30px;
			}
			footer .subFooter .left, footer .subFooter .right {
			    float: none;
			}
			footer .subFooter .right {
			    margin-top: 10px;
			}
			footer .subFooter .right a {
			    display: block;
			    margin-bottom: 4px;
			}


.col-md-5 #box1, .col-md-5 #box2, #pincipale_c { height: 100%; width: 100%;  display: block; clear: both; text-align: justify;}

	.featurette p {
    font-size: 12px;
    color: #333;
  }

	.row .col-md-7 {height: 100%; overflow: initial; padding:0 20px;}
    .row .col-md-5 {height: 100%; overflow: initial; padding:0 20px;}

    .topnav{width: 100%}




    .csslider1 > ul > li.img img, img {

    width: 100%;
}



.csslider1, .csslider1 > ul, .csslider1 > ul > li.img img, .csslider1 > ul > li.img, .csslider1 > ul > li {
    display: block;
	width: 100%;

}



	}






  .topnav {
    overflow: hidden;
  }

  .topnav li {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 15px 2px 10px;
    text-decoration: none;
    font-size: 15px;
}
  .menu-right {
  float: right;
}

  .topnav li:hover {
    opacity: 0.8;
  }

  .topnav .icon {
    display: none;
  }


/*=====****************************************************************************************************************=====*/


@media only screen and (max-width: 768px){

  .topnav li:not(:first-child) {display: none;}
  .topnav li.icon {
    float: right;
    display: block;
    font-size: 24px;
  }

  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
  .menu-right {
      float: left;
      width: 100%;
      margin: 0 auto;
  }

  .subFooter .row{
      padding: 1% 7%;
  }
  .subFooter .row *{
      padding: 1%;
  }

/*
  .navbar-collapse.collapse {
      display: block !important;
      height: auto !important;
      margin-bottom: 5px;
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      background: #999;
      color: #fff;
      border-radius: 2px;
  }
  .navbar-collapse.collapse *{
  color: #fff;
  }
  */

  ul.menu-right{
    display: block !important;
    height: auto !important;
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background: #999;
    color: #fff;
    border-radius: 2px;
    }
 .nav > li{
      display: inline-block;
      float: left;
      background: #999;
      color: #fff;
      margin:0 2px;
      border-radius: 2px;
      }
      .navbar-nav .open .dropdown-menu {
          position: static;
          float: none;
          width: auto;
          margin-top: 0;
          background-color: #fff;
          border: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
      }

  .souliye {
    color: none;
    border-bottom: 1px solid none;
    background: #888;
  }


  .featurette p img {
      border-radius: 1px;
      margin: 5px;
      max-height: 400px;
      object-fit: cover;
      width: 100%;
      display: block;
  }

.featurette p {

    padding: 0 2%;
    width: 100%;
    display: block;
}

#login #login-content {
  position: inherit;
  z-index: 99999999;
  padding: 15px;
  width: 250px;
}

#box1-box2 {
    width: 100%;
    margin: 0px auto;
    height: auto;
    padding: 50px 0px 50px;
}

#box .col-md-4{
  width: 94%;
  margin: 100px auto;
}

#l_right {
    display: left;

}


#l_center h2 {

	display: block;
	font-size: 20px;
	line-height: 1.4;
	}
 #l_center h4 {
	display: block;
	font-weight: 100;
	font-size: 15px;
	line-height: 1.4;
	}


#l_center{width: 100%;  display: inline-block;}


#l_center p{text-align:center }




}
	  ul.topnav.responsive {position: relative;}
	  ul.topnav.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }

	 .top_m {
	  margin-top: 5px;
	  display: block;
	  width: 100%

	}

	  ul.topnav.responsive li {
	    float: none;
	    display: inline;
	  }
	  ul.topnav.responsive li a {
	    display: block;
	    text-align: left;
	  }

			footer {
			    text-align: center;
			}
			footer .footerWrap ul {
			    margin-bottom: 30px;
			}
			footer .subFooter .left, footer .subFooter .right {
			    float: none;
			}
			footer .subFooter .right {
			    margin-top: 10px;
			}
			footer .subFooter .right a {
			    display: block;
			    margin-bottom: 4px;
			}


.col-md-5 #box1, .col-md-5 #box2, #pincipale_c { height: 100%; width: 100%;  display: block; clear: both; text-align: justify;}

.featurette p {
  font-size: 16px;
  color: #333;
}

	.row .col-md-7 {height: 100%; overflow: initial; padding:0 20px;}
    .row .col-md-5 {height: 100%; overflow: initial; padding:0 20px;}

    .topnav{width: 100%}



*/

.featurette .col-md-12 {
    width: 90%;
    position: relative;
}

.container { width: 100%; display: block;}

.col-md-7{background: transparent;}



}





/* RESPONSIVE CSS
-------------------------------------------------- */

iframe {
max-width: 530px;
max-height: 300px;
float: left;
margin: 5px 10px;
}


@media only screen and (max-width: 1024px) {
  /* Navbar positioning foo */

body {
    padding: 0;
    margin:0;
    width: 100%;
}
.topnav li {
    float: left;
    display: block;
    text-align: center;
    padding: 1px 5px 2px 10px;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.5;
}

ul.topnav {
	  list-style-type: none;
	  margin: 0;
	  color: #fff;
	  padding: 0 2%;
	  overflow: hidden;
	  //background-color: #E6F2F9;
	  //background-color: #539DC8;
	  float: right;
	  text: 111111;
	  width: 100%;
	 // border-bottom: 4px solid #DDDDDD;
	}

	.top_m {

	  float: right;
	  width: 100%;
	  text: 1111;

	}
  #box1-box2 .featurette-heading {
      padding: 1%;
      font-size: large;
      font-weight: normal;
      text-align: left;
      width: 96%;
      margin: 10px auto 5px;
      font-size: 16px;
  }

  .featurette p img {
    border-radius: 1px;
    margin: 10px;
    max-height: 400px;
    object-fit: cover;
    width: 100%;
    display: block;
}

	ul.topnav a{
	  list-style-type: none;
	  margin: 0;
	   color: #fff;

	}



	ul.topnav li {float: left;}

	ul.topnav li a {
	  display: inline-block;
	  color: #fff;
	  text-align: center;
	  padding: 15px 16px;
	  text-decoration: none;
	  transition: 0.3s;
	  font-size: 13px;
	  font-weight: 300;
	}



.featurette, .container marketing { margin: 5px 0; }

.row featurette {  width: 100%; margin-top: 150px;}

.col-md-7{ margin-top: 50px; text: -111;}

.featurette	.col-md-12 {
    margin: 13px auto;
    width: 94%;
    float: none;
    display: block;
}

footer {
    font-size: 13px;
    padding: 0px;
    width: 100%;
}

footer .col-xs-12 {
    padding: 2% 0%;
}
#im_foot img {
    width: 70px;
    height: auto;
    margin: 10px auto;
    max-height: 100px;
    object-fit: scale-down;
    padding: 3px;
}

  .featurette-heading {
    font-size: 18px;
  }
  .featurette p {
    font-size: 15px;
    color: #333;
  }

  #myslide {
      width: 100%;
      height: 320px;
      margin: 0px auto;
      z-index: -11111;
      o
  }
  .carousel-inner {
      position: relative;
      width: 100%;
      bject-fit: contain;
      overflow: hidden;
      height: 320px;
  }





}




@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 30px;
  }
  }




@media screen and (max-width:900px) {
	  ul.topnav li:not(:first-child) {display: none;}
	  ul.topnav li.icon {
	    float: right;
	    display: inline-block;
	  }
	}

@media only screen and (max-width: 768px){
	 body {
    padding: 0;
    margin:0;
     }
	  ul.topnav.responsive {position: relative;}
	  ul.topnav.responsive li.icon {
	    position: absolute;
	    right: 0;
	    top: 0;
	  }

	 .top_m {
	  margin-top: 5px;
	  display: block;

	}
.menu-right *{ color: #FFF}

  #im_top img {
      object-fit: scale-down;
      padding: 3px;
      float: none;
      background: transparent;
      height: auto;
      display: block;
      margin: 10px auto;
      height: auto;
      max-height: 80px;
      max-width: 95px;
  }
  .social {
    padding: 20px 10px;
    z-index: 11111;
    height: 50px;
}
.navbar {
  position: relative;
  min-height: 70px;
  margin-bottom: -10px;
  margin-top: 0px;
  padding-left: 5%;
  padding-right: 7%;
  background: none;
}


#login-trigger, #login-trigger a{
  background-color: #999;
  border-radius: 2px;
  padding: 5px;
  width: 100%;
}



ul.navbar-right {
    display: block;
    width: auto;
    background: #fff;
    margin-top: 40px;
    position: absolute;
    right: 10%;
    padding: 5px;
    float: none;
    z-index: 111111;
    border: 1px solid #f2f2f2;
    text-align: center;
    border-radius: 2px;
}
ul.navbar-right a .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #999;
    border-color: #777;
    color: #fff;
    float: none;
    margin: 0 auto;
}


#logo {
    float: none;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat left top #fff;
    background-size: 100% 100%;
    width: 70px;
    height: 60px;
    border-radius: 5px;
    margin: 0px auto;
}
#login-form{

  padding: 0px;
}
#l_right {
    background: transparent url("../images/school_logo_2.png") no-repeat scroll right top / auto 100%;
    float: right;
    height: 70px;
    margin-bottom: 5px;
    object-fit: scale-down;
    overflow: hidden;
    position: fixed;
    right: 5%;
    top: 10px;
    width: 70px;

}


.navbar-default {
    background-color: none;
    border-color: #fff;
    padding: 0px;
    margin: 0px;
}
.navbar-header{
  width: 100%;
  padding: 0px 7%;
}

#l_center {
    width: 100%;
    display: block;
}

	  ul.topnav.responsive li {
	    float: none;
	    display: inline;
	  }
	  ul.topnav.responsive li a {
	    display: block;
	    text-align: left;
	  }

			footer {
			    text-align: center;
			}
			footer .footerWrap ul {
			    margin-bottom: 30px;
			}
			footer .subFooter .left, footer .subFooter .right {
			    float: none;
			}
			footer .subFooter .right {
			    margin-top: 10px;
			}
			footer .subFooter .right a {
			    display: block;
			    margin-bottom: 4px;
			}


.col-md-5 #box1, .col-md-5 #box2, #pincipale_c { height: 100%; width: 100%;  display: block; clear: both; text-align: justify;}

    .featurette p {
      font-size: 15px;
      color: #333;
    }

	.row .col-md-7 {height: 100%; overflow: initial; padding:0 20px;}
    .row .col-md-5 {height: 100%; overflow: initial; padding:0 20px;}

    .topnav{width: 100%}




    .csslider1 > ul > li.img img, img {

    width: 100%;
}



.csslider1, .csslider1 > ul, .csslider1 > ul > li.img img, .csslider1 > ul > li.img, .csslider1 > ul > li {
    display: block;
	width: 100%;

}
#box1-box2 .featurette-heading {
    padding: 1%;
    font-size: large;
    font-weight: normal;
    text-align: left;
    width: 96%;
    margin: 10px auto 5px;
    font-size: 16px;
}


	}
