/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 26, 2019, 12:35:31 PM
    Author     : jcppoulard
*/

.item{
        left: 0;
        top: 0;
        position: relative;
        overflow: hidden;
        margin-top:50px;
			
}
.item img{
        -webkit-transition: 0.6s ease;
        transition: 0.6s ease;

}
.item img:hover{
        -webkit-transform: scale(1.2);
        transform: scale(1.2);

}
.img-thumbnail{
    border:0px;
    border-radius:0px;
}

.super-body{
    height: 180px;
}

.btn:focus, .btn:active, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

#image-gallery .modal-footer{
  display: block;
}

.thumb{
  margin-top: 15px;
  margin-bottom: 15px;
}