/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 11, 2019, 12:39:54 PM
    Author     : jcppoulard
*/

.row-striped:nth-of-type(even){
  background-color: #efefef;
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(odd){
  background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.ti-karakte {
    font-size: 12px;
}