body *{
  font-family: helvetica,sans-serif;
}

.site_min {
    min-height: 600px;
    margin: 0% auto 3%;
    width: 100%;
    display: block;
    margin-top: -7px;
}

.container-fluid-top {
    max-width: 1250px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding-top: 20px;
    color: #333;
}
.heading{
  //color: #333;
}
#mainNav .container {
    max-width: 1600px;
}
.heading {
    margin-bottom: 50px;
    padding: 0px;
}
  .featurette{
    width: 100%;
    max-width: 1250px;
    padding-right: 0;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding-top: 10%;
    color: #333;
  }
  .bottom-color {
      padding-bottom: 6px;
      padding-top: 0px;
      margin-bottom: 10px;
      border-bottom: 1px solid #e8e8e8;
  }


  .bottom-color .title {
    padding-bottom: 8px;
    position: relative;
    font-size: 1.5em;
    bottom: -1px;
    font-weight: 700;
}
  .pull-right {
    text-align: right;
    float: right;
    margin-left: 95%;
}
section {
    padding: 0rem 0;
}

.img-fluid {
    max-width: 140px;
    height: auto;
    margin: 0 10px 0 0;
    padding: 5px;
    max-height: 100px;
}

.carousel-inner img{
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 600px;
    max-height: 600px;
}

/*.carousel-inner img{
  max-width: 90%;
  height: 500px;
  object-fit:cover;

}*/
.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {
    min-height: 450px;
    height: 100%;
}
.anonces{
  margin: 15px auto;
}
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 10px;
      height: auto;
      min-height: 485px;
      padding-bottom: 20px;
    }


    /* Set black background color, white text and some padding */
    footer {
    padding: 15px;
}
/*
.container-fluid-top h1, .container-fluid-top h1 {
    font-size: 1.8em;
    font-weight: 500;
    font-family: helvetica,sans-serif;

}
*/

.school_name {
    font-size: 21px;
    font-weight: 300;
    float: left;
    width: 100%;
    display: block;
    max-width: 350px;
}

.school_devise{
  font-size: 13px;
  font-weight: 100;
   width: 100%;
   display: block;
<<<<<<< HEAD
   max-width: 350px;
=======
<<<<<<< HEAD
   max-width: 350px;
=======
   max-width: 300px;
>>>>>>> 52ff464234c53ae1a58b5759808b445944708de2
>>>>>>> c1f0feba1bc04c8395e2d42d6ba5adc3555b9df0
}




.pawol p{
  text-align: justify;
  font-weight: normal;
  color: #444;
}


.pawol p,.pawol p em.pawol p span, .pawol p, .pawol p,.pawol p {
  font-family: helvetica,sans-serif;
  font-size: 15px;
  line-height: 1.5em;
}


.pawol img,.pawol span img {
    padding: 2px 5px;
    border-radius: 2px;
}

.pawol p > strong, .pawol p > strong a {
  font-size: 1.0em;
  font-weight: bold;
  font-family: helvetica,sans-serif;
}
.pawol p > a  {
  font-size: 1.0em;
  font-weight: 200;
  font-family: helvetica,sans-serif;
}
.sidenav h3, .sidenav a {
    text-align: left !important;
    font-family: helvetica,sans-serif;

}

.sidenav li.nav-item {

    border-bottom: 1px solid #E8E8E8;
}


.heading .col-lg-7,.heading .col-md-7{
  max-height: 150px;
  overflow: hidden;
}
.heading h3, .heading h3 a, .sidenav h5, .sidenav h4, .sidenav h3,.sidenav h5 a, .sidenav h4 a, .sidenav h3 a, {
  font-size: 17px;
  font-weight: 500;
}
.album a {
    font-family: helvetica,sans-serif;
    width: 100%;
    float: left;
    color: #fff;
}
.sidenav p {
    text-align: justify !important;
    margin: 0px;
}
.sidenav #title, .sidenav #title a{
  width: 100%;
  padding-top: 20px;
    margin-bottom: 10px;
  border-bottom: 1px solid #d2cfce;
}
}

.sidenav #desc-gallerie  {
    font-family: helvetica,sans-serif;
    width: 100%;
    background: #587158;
    float: left;
    padding: 2px 10px;
    text-align: center;
    color: #fff;
    margin-top: -50px;
    opacity: 0.8;
}
.sidenav .flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    background: none;
    color: #333;
}
.sidenav .flex-column a{
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    background: none;
    color: #333;
}

.badge-secondary {
    color: #fff;
    background-color: #393c42;
    width: 100%;
    padding: 10px;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.row .row-striped {
}
.row .row-striped .h6, h6 {
    font-size: 1rem;
    text-align: center;
}
.row .row-striped .ti-karakte {
    font-size: 11px;
    float: left;
    font-weight: 300;
    display: block;
    text-align: right;
}

.row .row-striped p, .row .row-striped h6{
    font-size: 16px;
    float: left;
    //font-weight: 300;
}


.navbar-toggler, a.bg-primary, a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #d1d2d4 !important;
    color: #333;
}
.navbar-toggler *, a.bg-primary *{
color:#333;
}
#mainNav .navbar-toggler {
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
    margin-right: 20px;
}
  .heading .img_1{
        width: 100%;
        object-fit: cover;
        height: 150px;
        overflow: hidden;
      }

  .img_1{
      width: 100%;
      object-fit: cover;
      height: 170px;
      overflow: hidden;
        }
.sidenav .img_1 {
    width: 100%;
    object-fit: cover;
    height: 150px;
    overflow: hidden;
    margin-bottom: 15px;
}
  .img_article {
            width: 100%;
            object-fit: cover;
            height: 450px;
            overflow: hidden;
            margin-bottom: 20px;
        }

.pawol h1{
margin: 25px auto 15px ;
font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: "Myriad Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.h3, h3, h4, .h4 {
    font-size: 17px;
    font-weight: 500;
}
.login-container{
    width: 350px;
    //padding-right: 1100px;
    padding-left: 30px;
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: auto;
    right: 0%;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 12rem;
    padding: 16px;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    list-style: none;
    background: url(../images/menubg.png);
    width: auto;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    min-width: 200px;
}

#login-form{
  display: block;
  width: 100%;
  margin: 0 auto;
}
.dropdown-menu li{
  text-align: left;
  float: right;
  width: 100%;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
  text-align: left;
      border-bottom: 1px solid #a6a4a2;
      background: url(images/menulinkarrow.png) no-repeat 90% center;
      float: left;

  }

.dropdown-menu li a {

  color: #ffffff;
}
.dropdown-menu > .login   {
    position: absolute;
    right: 100px;
    width: 300px;
    left: auto;
}

footer {
    margin-left: 0px;
    margin-right: 10px;
    position: relative;
    width: 100%;
    vertical-align: bottom;
    float: left;
    margin-top: 0%;
    font-size: 13px;
}

.container, .content_h .row {

    margin-left: auto;
    margin-right: auto;

}
#im_foot img {

    width: 90px;
    height: auto;
    margin: 10px auto;
    max-height: 100px;
    object-fit: scale-down;
    padding: 3px;

}
.subFooter a, .subFooter {

    color: #fff;
    text-align: justify;

}
img {

    vertical-align: middle;
  }

    .pull-center {
        border-top: 1px solid #444;
        text-align: center;
        opacity: 0.9;
        padding: 15px;
        color: #fff;

    }
    .pull-center img {
        width: 40px;
        height: 40px;

    }

  #mainNav .navbar-nav li.nav-item a.nav-link{
      font-size: 16px;
      font-family: helvetica,sans-serif;
      font-weight: 300;
      letter-spacing: 0px;
      font-style: normal;
    }




/*   {

        #login-form button, #login-form input, #login-form optgroup, #login-form select, #login-form textarea {
        margin: 0;
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        width: 150px;
    }

    #mainNav {
        padding-top: 0.3rem;
        background-color: #000;
        padding-bottom: 1.5rem;
        font-weight: 300;
        font-family: "Myriad Regular","Helvetica Neue",Helvetica,Arial,sans-serif;
        opacity: 0.96;
}
    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 100%;
        //background: #000;
        padding: 0px 30px;
        color: #fff;
        opacity: 0.96;
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 100%;
        //background: #131313;
    }


  #page-top,#mainNav{

    width: 100%;
    min-width: 400px;
  overflow: scroll;
}

  .heading {
      margin: 10px 10px;
      padding: 0px;
  }
  .team {
      flex: 0 0 48%;
      border-top: 1px solid #ff630e;
      background: #f5f5f5;
      padding: 0;
      margin: 5px;
      float: left;
  }


  .heading .col-lg-7, .heading .col-md-7 {
      max-height: 130px;
      overflow: hidden;
      padding-top: 10px;
      padding-right: 20px;
      color: #000;
  }



  .container-fluid {

    width: 100%;
    padding: 20px 0 0 0;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    padding-top: 20px;
    background: #f2f2f2;
    background-color: rgb(242, 242, 242);
    color: #333;

}
header.masthead {
    padding-top: calc(0px + 0px);
    padding-bottom: 0rem;
}
.navbar-brand img, .navbar-brand a {
    height: 65px;
    margin-top: -15px;
}
.navbar-brand {
    height: 45px;
}

#mainNav {

    padding-top: 10px;
    padding-bottom: 1rem;
    font-weight: 300;
    font-family: "Myriad Regular","Helvetica Neue",Helvetica,Arial,sans-serif;

}
.site_min {

    min-height: 500px;
    text: -1;
    margin-top: -26px;
    padding: 0;

}

#mainNav .navbar-nav li {
    color: #F26522;
    border-bottom: 1px solid #444;
    display: block;
    width: 100%;
    text-align: right;
    float: right;
}

#mainNav .navbar-nav li.nav-item a.nav-link::before {
  content: "  ";
  background: url(..images/menulinkarrow.png) ;
  float: left;
  margin-left: 5%;
}
.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background: #000;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    background: none;
}

.dropdown-menu.show {
    display: block;
    height: 100%;
}
#mainNav .navbar-nav li.nav-item a.nav-link{

  color: #777;
  text-align: right;
  display: block;
  float: none;

}


.gallerie .bottom-color {
    padding-bottom: 6px;
    padding-top: 0px;
    margin-bottom: 10px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
}
.img-thumbnail {

    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 170px;
    object-fit: cover;
    width: 300px;

}
.group{
  background: #f3f3f3;
}

}
